:root,
html.sb-theme-light {
  color-scheme: light;
  --sb-color-primary-1: #00b3b0;
  --sb-color-primary-2: #40bebb;
  --sb-color-primary-3: #40c6c4;
  --sb-color-primary-4: #7fd9d7;
  --sb-color-primary-5: #d9f4f3;
  --sb-color-primary-6: #ccf0ef;
  --sb-color-secondary-1: #1b243f;
  --sb-color-secondary-2: #545b6f;
  --sb-color-secondary-3: #8d919f;
  --sb-color-secondary-4: #c6c8cf;
  --sb-color-info-1: #395ece;
  --sb-color-info-2: #6b87db;
  --sb-color-info-3: #9caee6;
  --sb-color-info-4: #cdd6f2;
  --sb-color-info-5: #d7dff5;
  --sb-color-success-1: #2db47d;
  --sb-color-success-2: #62c79e;
  --sb-color-success-3: #96d9be;
  --sb-color-success-4: #caecde;
  --sb-color-success-5: #004e4c;
  --sb-color-caution-1: #fbce41;
  --sb-color-caution-2: #fcdb71;
  --sb-color-caution-3: #fde6a0;
  --sb-color-caution-4: #fef3cf;
  --sb-color-caution-5: #fef5d9;
  --sb-color-warning-1: #ffac00;
  --sb-color-warning-2: #ffc140;
  --sb-color-warning-3: #ffd57f;
  --sb-color-warning-4: #ffeabf;
  --sb-color-warning-5: #ffeecc;
  --sb-color-error-1: #ff6159;
  --sb-color-error-2: #ff8983;
  --sb-color-error-3: #ffb0ac;
  --sb-color-error-4: #ffd7d5;
  --sb-color-error-5: #ffdfde;
  --sb-color-grey-1: #dfe3e8;
  --sb-color-grey-2: #e7eaee;
  --sb-color-grey-3: #eff1f3;
  --sb-color-grey-4: #f7f8f9;
  --sb-color-grey-5: #b1b5be;
  --sb-color-grey-6: #8d919c;
  --sb-color-text-1: #b1b5be;
  --sb-color-text-2: #8d919f;
  --sb-color-text-3: #1b243f;
  --sb-color-text-4: #545b6f;
  --sb-color-bg-1: #1b243f;
  --sb-color-bg-2: #415467;
  --sb-color-bg-3: #f9f9f9;
  --sb-color-bg-4: #ffffff;
  --sb-shadow-0: none;
  --sb-shadow-100: 0 2px 17px 3px rgba(34, 42, 69, 0.07);
  --sb-shadow-default: 0 2px 17px 3px rgba(34, 42, 69, 0.07);
  --sb-size-0: 0px;
  --sb-size-025: 1px;
  --sb-size-050: 2px;
  --sb-size-100: 4px;
  --sb-size-200: 8px;
  --sb-size-300: 12px;
  --sb-size-400: 16px;
  --sb-size-500: 24px;
  --sb-size-600: 32px;
  --sb-size-700: 40px;
  --sb-size-800: 48px;
  --sb-size-900: 64px;
  --sb-border-radius-0: 0px;
  --sb-border-radius-100: 4px;
  --sb-border-radius-200: 8px;
  --sb-border-radius-default: 8px;
  --sb-border-radius-full: 9999px;
  --sb-breakpoint-xs: 480px;
  --sb-breakpoint-sm: 640px;
  --sb-breakpoint-md: 768px;
  --sb-breakpoint-lg: 1024px;
  --sb-breakpoint-xl: 1280px;
  --sb-breakpoint-2xl: 1536px;
  --sb-font-size-default: 14px;
  --sb-font-family-default: 'Roboto', sans-serif;
  --sb-font-size-10: 1rem;
  --sb-font-size-12: 1.2rem;
  --sb-font-size-13: 1.3rem;
  --sb-font-size-14: 1.4rem;
  --sb-font-size-16: 1.6rem;
  --sb-font-size-18: 1.8rem;
  --sb-font-size-20: 2rem;
  --sb-font-size-24: 2.4rem;
  --sb-font-size-26: 2.6rem;
  --sb-font-size-32: 3.2rem;
  --sb-font-weight-light: 300;
  --sb-font-weight-regular: 400;
  --sb-font-weight-medium: 500;
  --sb-font-weight-bold: 700;
  --sb-font-line-height-100: 1;
  --sb-font-line-height-200: 1.1;
  --sb-font-line-height-300: 1.15;
  --sb-font-line-height-400: 1.2;
  --sb-text-h1-family: 'Roboto', sans-serif;
  --sb-text-h1-weight: 500;
  --sb-text-h1-font-size: 2.6rem;
  --sb-text-h1-line-height: 1.2;
  --sb-text-h2-family: 'Roboto', sans-serif;
  --sb-text-h2-weight: 500;
  --sb-text-h2-font-size: 1.8rem;
  --sb-text-h2-line-height: 1.15;
  --sb-text-h2-family: 'Roboto', sans-serif;
  --sb-text-h2-weight: 500;
  --sb-text-h2-font-size: 1.4rem;
  --sb-text-h2-line-height: 1;
  --sb-text-body1-family: 'Roboto', sans-serif;
  --sb-text-body1-weight: 400;
  --sb-text-body1-font-size: 1.4rem;
  --sb-text-body1-line-height: 1;
  --sb-text-body2-family: 'Roboto', sans-serif;
  --sb-text-body2-weight: 400;
  --sb-text-body2-font-size: 1.2rem;
  --sb-text-body2-line-height: 1;
  --sb-z-index-0: auto;
  --sb-z-index-1: 100;
  --sb-z-index-2: 200;
  --sb-z-index-3: 300;
  --sb-z-index-4: 400;
  --sb-z-index-5: 500;
  --sb-z-index-6: 600;
  --sb-z-index-7: 700;
  --sb-z-index-8: 800;
}
