@mixin avatarGroupItem {
  background-clip: padding-box;
  border: 2px solid $white;
  border-radius: 100%;
}

.sb-avatar-group {
  position: relative;
  display: inline-block;
  width: 100%;

  .sb-avatar {
    z-index: 2;
    margin-left: -10px;
    cursor: pointer;

    &:hover,
    &:focus {
      position: relative;
      z-index: 3;
    }

    .sb-avatar__image,
    .sb-avatar__initials {
      overflow: hidden;
      transform: translate(0, 0);
      transition: 0.1s ease-in-out;

      @include avatarGroupItem;
    }
  }

  &__more {
    position: relative;
    z-index: 1;
    margin-left: -10px;
    color: $dark-blue-950;
    font-size: $font-12;
    font-weight: $font-regular;
    background-color: $blue-gray-100;
    cursor: pointer;

    @include avatarGroupItem;
    @include avatarComponent;
    @include avatarComponentSize(36px);
  }

  >.sb-avatar:first-child {
    margin-left: 0;
  }

  >.sb-avatar:hover,
  >.sb-avatar:focus {
    .sb-avatar__image,
    .sb-avatar__initials {
      z-index: 99999;
      transform: translate(0, -10px);
    }
  }

  // sizes
  &--large &__more {
    @include avatarComponentSize($sb-avatar-large);
  }

  &--large &__more,
  &--large > .sb-avatar {
    margin-left: -20px;
  }

  &--small &__more {
    @include avatarComponentSize($sb-avatar-small);
  }

  &--small &__more,
  &--small > .sb-avatar {
    margin-left: -10px;
  }

  // color variants
  &--dark-bg {
    >.sb-avatar .sb-avatar__image,
    >.sb-avatar .sb-avatar__initials,
    >.sb-avatar-group__more {
      border: 3px solid $dark-blue-950;
    }
  }

  &__avatars {
    position: absolute;
    top: 120%;
    z-index: 99999;
    overflow: auto;
    max-height: 170px;
    max-width: 100%;
    min-width: 210px;
    padding: 15px;
    text-align: left;
    background-color: $white;
    border: 1px solid $gray-100;
    border-radius: $s-1;
    box-shadow: $box-shadow-default;

    .sb-avatar {
      display: inline-flex;
      width: 100%;
      margin-bottom: 10px;
      margin-left: 0;

      &__image,
      &__initials {
        width: auto;
        height: auto;
        min-height: $s-6;
        min-width: $s-6;
      }

      &__initials {
        align-self: center;
        min-height: $s-6;
        min-width: $s-6;
      }

      &__text {
        word-break: break-all;
      }

      &__text-container {
        align-self: center;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &[aria-hidden="false"] {
      display: block;
    }
  }
}
