.sb-popover[data-popper-reference-hidden] {
  position: fixed !important;
  right: 200%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.sb-popover {
  box-sizing: border-box;
  max-width: 100vw;
}
