@mixin setColor ($color, $textColor) {
  color: $textColor;
  background-color: $color;

  &:hover {
    background-color: darken($color, 5%);
  }
}

.sb-tag {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: 3px 10px;
  font-size: $font-13;
  font-weight: $font-weight-medium;
  border-radius: 5px;

  &__label {
    flex: 1;
    overflow: auto;
    line-height: 1.4em;
    text-overflow: ellipsis;
  }

  &--primary {
    @include setColor($color-primary, $white);
  }

  &--negative {
    @include setColor($color-negative, $white);
  }

  &--warning {
    @include setColor($color-warning, $white);
  }

  &--info {
    @include setColor($blue, $white);
  }

  &--light {
    @include setColor($light, $primary-text-color);
  }

  &--light-info {
    @include setColor($blue-25, $primary-text-color);
  }

  .sb-icon {
    margin-left: 5px;
    cursor: pointer;
  }
}
