@mixin setColor($textColor, $bgColor, $hoverColor) {
  color: $textColor;
  background-color: $bgColor;

  &:hover,
  &:focus {
    background-color: $hoverColor;
  }
}

.sb-tag {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: 3px 10px;
  font-size: $font-13;
  font-weight: $font-medium;
  border-radius: $base-border-radius;

  &__label {
    display: flex;
    flex: 1;
    gap: 5px;
    align-items: center;
    overflow: hidden;
    line-height: 1.4em;
    text-overflow: ellipsis;
  }

  &__avatar {
    margin-right: 5px;
  }

  &--primary {
    @include setColor($teal-800, $teal-100, $teal-200);
  }

  &--success {
    @include setColor($green-700, $green-100, $green-200);
  }

  &--negative {
    @include setColor($red-600, $red-100, $red-200);
  }

  &--warning {
    @include setColor($yellow-800, $yellow-100, $yellow-200);
  }

  &--info {
    @include setColor($blue-600, $blue-100, $blue-200);
  }

  &--light-grey {
    @include setColor($gray-950, $gray-100, $gray-200);
  }

  &--dark-grey {
    @include setColor($gray-950, $gray-300, $gray-400);
  }

  &--dark-ink {
    @include setColor($white, $dark-blue-950, $dark-blue-800);
  }

  .sb-icon {
    margin-left: 5px;
    cursor: pointer;
  }
}
