.sb-pagination {
  align-items: center;
  color: $color-primary-dark;
  display: inline-flex;
  font-size: $font-size-md;
  height: 53px;

  // elements
  &__per-page-container {
    margin-right: 120px;
    padding-left: 10px;
  }

  &__pages-container {
    margin-right: 30px;
  }

  &__select {
    border: 0;
    margin: 0 10px;
  }

  &__placeholder {
    color: $sb-dark-blue-50;
    font-size: $font-size-sm;
    font-weight: $font-weight-regular;
  }

  &__button {
    background-color: transparent;
    border: 0;
    border-radius: $base-border-radius;
    color: $color-primary-dark;
    cursor: pointer;
    display: block;
    height: 32px;
    width: 32px;

    &:not(:disabled):hover {
      color: $color-primary;
    }

    &--disabled {
      color: $sb-dark-blue-25;
      cursor: not-allowed;
    }

    &:hover {
      background-color: $light-50;
    }

    .sb-icon {
      margin-left: -4px;
    }
  }

  &-carousel-container {
    display: flex;
    margin: 0 20px;
  }

  &-dot {
    background-color: $light;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    height: 10px;
    padding: 0;
    position: relative;
    width: 10px;

    &:not(:first-child) {
      margin-left: 15px;
    }

    &--active {
      background-color: $sb-dark-blue;

      &::after {
        border: solid 2px $sb-dark-blue-25;
        border-radius: 100%;
        content: '';
        height: 14px;
        left: -4px;
        position: absolute;
        top: -4px;
        width: 14px;
      }
    }
  }

  // modifiers
  &--full-width {
    width: 100%;
  }

  &--full-width &__per-page-container {
    margin-right: auto;
  }

  &--compact {
    box-shadow: none;
    width: 100%;
  }

  &--compact > span {
    margin: 0 20px;
  }

  &--compact &__button {
    border: 0;
    border-left: 1px solid $light;
    border-right: 1px solid $light;
  }

  &--carousel {
    box-shadow: none;
  }

  &--carousel &__button {
    border: 0;
  }
}
