.sb-pagination {
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  height: 53px;
  max-width: 100%;
  color: $color-primary-dark;
  font-size: $font-14;

  // elements
  &__per-page-container {
    margin-right: 30px;
    padding-left: 10px;

    @include mq($until: lg) {
      flex-flow: row nowrap;
    }

    @include mq($from: lg) {
      margin-right: 120px;
    }
  }

  &__pages-container {
    margin-right: 30px;

    @include mq($until: lg) {
      flex-flow: row nowrap;
    }
  }

  &__select {
    margin: 0 10px;
    border: 0;
  }

  &__placeholder {
    color: $sb-dark-blue-50;
    font-size: $font-13;
    font-weight: $font-regular;
    white-space: nowrap;
  }

  &__buttons {
    display: flex;
  }

  &__button {
    display: block;
    width: 32px;
    height: 32px;
    color: $color-primary-dark;
    background-color: transparent;
    border-radius: $base-border-radius;
    cursor: pointer;

    &:not(&--with-label) {
      border: 0;
    }

    &:not(:disabled):not(&--with-label) {
      &:hover,
      &:focus {
        color: $color-primary;
      }
    }

    &--disabled {
      color: $sb-dark-blue-25;
      cursor: not-allowed;
    }

    .sb-icon {
      margin-left: -4px;
    }
  }

  &-carousel-container {
    display: flex;
    margin: 0 20px;
  }

  &-dot {
    position: relative;
    width: 10px;
    height: 10px;
    padding: 0;
    background-color: $light;
    border: 0;
    border-radius: 100%;
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 15px;
    }

    &--active {
      background-color: $sb-dark-blue;

      &::after {
        content: '';
        position: absolute;
        left: -4px;
        top: -4px;
        width: 14px;
        height: 14px;
        border: solid 2px $sb-dark-blue-25;
        border-radius: 100%;
      }
    }
  }

  // modifiers
  &--full-width {
    width: 100%;
  }

  &--full-width &__per-page-container {
    margin-right: auto;
  }

  &--compact {
    width: 100%;
    box-shadow: none;
  }

  &--compact > span {
    margin: 0 20px;
  }

  &--compact &__button {
    border: 0;
    border-left: 1px solid $light;
    border-right: 1px solid $light;
  }

  &--carousel {
    box-shadow: none;
  }

  &--carousel &__button {
    &:not(&--with-label) {
      border: 0;
    }
  }
}

.sb-pagination--with-label {
  .sb-pagination__button {
    width: auto;
    height: unset;
    padding: 13.5px 24px;
    font-size: $font-14;

    &:not(.sb-button--tertiary) {
      color: $color-white;
      background: $blue;
    }

    &:not(:disabled):focus,
    &:not(:disabled):hover {
      color: $blue;
    }

    &:not(:disabled):focus:not(.sb-button--tertiary),
    &:not(:disabled):hover:not(.sb-button--tertiary) {
      color: $white;
      background-color: darken($blue, 15);
    }
  }

  .sb-pagination-dot {
    width: 7px;
    height: 7px;
    border-radius: 40px;
    transition: width 0.1s ease-in-out;

    &:not(:first-child) {
      margin-left: 3px;
    }

    &--active {
      width: 16px;
      background-color: $blue;
      transition: width 0.1s ease-in-out;

      &::after {
        content: unset;
      }
    }
  }
}

.sb-pagination__per-page-container,
.sb-pagination__pages-container {
  display: flex;
  align-items: center;

  .sb-select {
    &[aria-expanded='true'] .sb-select-inner,
    &:focus-within .sb-select-inner {
      box-shadow: none;
    }
  }

  .sb-select-list--above {
    bottom: 100%;
    min-width: auto;
    padding: 0;

    .sb-select-list__item {
      justify-content: center;

      .sb-select-list__item-name {
        min-height: auto;
      }
    }
  }

  .sb-select-list__item {
    padding: 10px 5px;
  }
}

@include mq($until: sm) {
  .sb-pagination {
    flex-wrap: wrap;

    &__per-page-container {
      display: none;
    }

    &__per-page-label {
      white-space: nowrap;
    }

    &__buttons {
      margin-left: auto;
    }
  }
}
