.sb-pagination {
  display: inline-flex;
  align-items: center;
  height: 53px;
  font-size: 14px;
  color: $color-primary-dark;
  box-shadow: 0px -1px 0px 0px $light, 0px 1px 0px 0px $light;

  &__per-page-container {
    margin-right: 120px;
    padding-left: 10px;
  }

  &__pages-container {
    margin-right: 30px;
  }

  &__select {
    margin: 0 10px;
  }

  &__placeholder {
    font-size: 13px;
    color: $light-gray;
    font-weight: normal;
  }

  &__button {
    width: 55px;
    height: 55px;
    background-color: transparent;
    border: none;
    border-left: 1px solid $light;
    color: $color-primary-dark;

    &:not(:disabled):hover {
      color: $color-primary;
    }

    &--disabled {
      cursor: not-allowed;
      color: $sb-dark-blue-25;
    }
  }
}