.sb-notification {
  box-sizing: border-box;
  width: 430px;
  height: 59px;
  padding: 20px;
  border-radius: $base-border-radius;

  // Notification modifiers
  &--full-content {
    width: 100%;
    height: auto;

    .sb-notification--link {
      z-index: 1;
      float: right;
      margin-right: 20px;
      margin-top: 37px;
    }
  }

  &--full {
    width: 100%;
  }

  &--expandable {
    height: auto;
  }

  &--expandle-button {
    float: right;
    margin-right: 20px;
    margin-top: 22px;
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
  }

  &--btn {
    float: right;
    margin-right: 20px;
    margin-top: 22px;
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;

    svg {
      vertical-align: top;
    }
  }

  // Status of notication
  &--icon-container {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: $medium-size;
    background-color: transparent;

    svg {
      vertical-align: top;
      width: 100%;
      height: 100%;
    }
  }

  &--positive {
    background-color: $green-25;
  }

  &--warning {
    background-color: $yellow-25;
  }

  &--info {
    background-color: $blue-25;
  }

  &--negative {
    background-color: $red-25;

    .sb-notification--title {
      color: $red;
    }
  }

  &--general {
    @include generalBoxShadow();

    background-color: $white;
    border-radius: 10px;
  }

  // Content style for notification
  &--content {
    height: 118px;
  }

  &--title {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 75%;
    color: $sb-dark-blue;
    font-size: $font-16;
    font-weight: $font-weight-medium;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--description {
    overflow: hidden;
    margin-left: 32px;
    margin-top: 12px;
    color: $sb-dark-blue;
    font-size: $font-14;
    font-weight: $font-weight-regular;
    line-height: 1.2;
    text-overflow: ellipsis;
  }

  &--link {
    overflow: hidden;
    margin-left: 52px;
    margin-right: 34px;
    margin-top: 12px;
    text-overflow: ellipsis;

    a {
      color: $primary-text-color;
      font-size: $font-14;
      font-weight: $font-weight-regular;
      text-decoration: none;
      text-decoration: underline;
      text-decoration-color: $primary-text-color;
    }
  }
}
