.sb-notification {
  width: 430px;
  height: 118px;
  border-radius: 10px;
  margin: 10px;

  //sizes
  &--short {
    width: 719px;
    height: 59px;
  }

  &--full {
    width: 1179px;
  }

  &--banner {
    height: 90px;
    width: 1179px;
  }

  // content
  &--title {
    font-size: 16px;
    font-weight: 500;
  }

  &--description {
    font-size: 14px;
    font-weight: normal;
    margin-left: 52px;
    margin-right: 34px;
    margin-top: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--link {
    margin-left: 52px;
    margin-top: 12px;
    
    a {
      font-size: 14px;
      font-weight: normal;
      text-decoration: none;
      text-decoration-color: $primary-text-color;
      color: $primary-text-color;
      text-decoration: underline;
    }
  }

  &--btn {
    margin-top: 23px;
    margin-right: 20px;
    padding: 0;
    float: right;
    border: none;
    background: transparent;
    cursor: pointer;

    svg {
      vertical-align: top;
    }
  }

  // status
  &--icon-container {
    height: 16px;
    border-radius: 3px;
    display: inline-block;
    background-color:  $blue;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 21px;

    svg {
      vertical-align: top;
    }
  }

  &--success {
    background-color: $green-25;

    .sb-notification--icon-container {
      background-color: $green;
    }
  }

  &--warning {
    background-color: $yellow-25;

    .sb-notification--icon-container {
      background-color: $yellow;
    }
  }

  &--info {
    background-color: $blue-25;

    .sb-notification--icon-container {
      background-color:  $blue;
    }
  }

  &--error {
    background-color: $red-25;

    .sb-notification--icon-container {
      background-color:  $red;
    }

    .sb-notification--title {
      color: $red;
    }
  }

  &--general {
    background-color: $white;
    @include generalBoxShadow();
    border-radius: 10px;
  }
}