.sb-notification {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 430px;
  padding: $s-4;
  border-radius: $base-border-radius;

  // Notification modifiers
  &--full-content {
    width: 100%;
    height: auto;
  }

  &--full {
    width: 100%;
    max-width: initial;
  }

  &--expandable {
    height: auto;
    cursor: pointer;
  }

  &--expandle-button {
    float: right;
    margin-right: 20px;
    margin-top: 22px;
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
  }

  &--btn {
    position: absolute;
    right: 20px;
    top: 18px;
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;

    svg {
      vertical-align: top;
      width: $s-5;
      height: $s-5;
    }
  }

  // Status of notication
  &--icon-container.sb-icon--custom {
    display: inline-block;
    width: $s-5;
    height: $s-5;
    margin-right: 5px;
    margin-top: -1px;
    background-color: transparent;
  }

  &--positive {
    background: $bg-green-light;
  }

  &--warning {
    background: $bg-yellow-light;
  }

  &--info {
    background: $bg-blue-light;
  }

  &--negative {
    background: $bg-red-light;
  }

  &--general {
    background: $bg-white;
    border-radius: 10px;

    @include generalBoxShadow;
  }

  // Content style for notification
  &--content {
    min-height: 118px;
  }

  &--title {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 75%;
    color: $text-dark-blue;
    font-size: $font-16;
    font-weight: $font-medium;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--description {
    display: block;
    overflow: hidden;
    margin-left: $s-6;
    margin-top: $s-3;
    color: $text-dark-blue;
    font-size: $font-14;
    font-weight: $font-regular;
    line-height: 1.2;
    text-overflow: ellipsis;
  }

  &--link {
    display: block;
    overflow: hidden;
    margin-left: $s-6;
    margin-top: $s-3;
    text-overflow: ellipsis;

    a {
      color: $text-teal;
      font-size: $font-14;
      font-weight: $font-regular;
      text-decoration: none;
      text-decoration: underline;
      text-decoration-color: $text-teal;
    }
  }
}
