.sb-notification {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 430px;
  padding: 16px;
  border-radius: $base-border-radius;

  // Notification modifiers
  &--full-content {
    width: 100%;
    height: auto;
  }

  &--full {
    width: 100%;
    max-width: initial;
  }

  &--expandable {
    height: auto;
  }

  &--expandle-button {
    float: right;
    margin-right: 20px;
    margin-top: 22px;
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
  }

  &--btn {
    position: absolute;
    right: 20px;
    top: 18px;
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;

    svg {
      vertical-align: top;
      width: 24px;
      height: 24px;
    }
  }

  // Status of notication
  &--icon-container {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-top: -1px;
    background-color: transparent;
  }

  &--positive {
    background-color: $green-25;
  }

  &--warning {
    background-color: $yellow-25;
  }

  &--info {
    background-color: $blue-25;
  }

  &--negative {
    background-color: $red-25;
  }

  &--general {
    background-color: $white;
    border-radius: 10px;

    @include generalBoxShadow();
  }

  // Content style for notification
  &--content {
    height: 118px;
  }

  &--title {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 75%;
    color: $sb-dark-blue;
    font-size: $font-16;
    font-weight: $font-medium;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--description {
    display: block;
    overflow: hidden;
    margin-left: 32px;
    margin-top: 12px;
    color: $sb-dark-blue;
    font-size: $font-14;
    font-weight: $font-regular;
    line-height: 1.2;
    text-overflow: ellipsis;
  }

  &--link {
    display: block;
    overflow: hidden;
    margin-left: 32px;
    margin-top: 12px;
    text-overflow: ellipsis;

    a {
      color: $primary-text-color;
      font-size: $font-14;
      font-weight: $font-regular;
      text-decoration: none;
      text-decoration: underline;
      text-decoration-color: $primary-text-color;
    }
  }
}
