.sb-radio {
  &-type{
    &--inline{
      position: relative;
      display: inline-block;
      margin-right: 4em;
      margin-bottom: 2em;
    }
    &--outline{
      border-radius: 5px;
      border: solid 1px #eff1f5;
      background-color: #ffffff;
      width: fit-content;
      padding: 1.5em 2em;
    }
    &--default{
      margin-bottom: 2em;
    }
  }
  &__input{
    &:focus, &:hover{
      &:not([disabled]){
        & + label{
          &:before{
            box-shadow: 0px 0px 0px 3px rgba(217,244,243,1);
          }
        }
      }
    }
    &:checked, &:not(:checked){
      position: absolute;
      & + label{
        position: relative;
        padding-left: 28px;
        display: inline-block;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        color: $sb-dark-blue;
      }
    }
    &:checked{
      & + label{
        &:before, &:after{
          content: '';
          position: absolute;
          border-radius: 100%;
        }
        &:before{
          left: 0;
          top: 0;
          width: 16px;
          height: 16px;
          border: solid 1px #00b3b0;
          background-color: #00b3b0;
        }
        &:after{
          top: 6px;
          left: 6px;
          transition: all 0.2s ease;
          width: 6px;
          height: 6px;
          opacity: 1;
          transform: scale(1);
          background-color: #ffffff;
        }
      }
      &[disabled]{
        & + label{
          &:before, &:after{
            cursor: not-allowed;
          }
          &:before{
            background-color: #b1b5be;
            border: solid 1px #b1b5be;
          }
        }
      }
    }
    &:not(:checked){
      & + label{
        &:before, &:after{
          content: '';
          position: absolute;
          border-radius: 100%;
        }
        &:before{
          left: 0;
          top: 0;
          width: 16px;
          height: 16px;
          border: solid 1px #dfe3e8;
          background-color: #ffffff;
        }
      }
      &[disabled]{
        & + label{
          &:before, &:after{
            cursor: not-allowed;
          }
          &:before{
            border: solid 1px #dfe3e8;
            background-color: #f5f5f5;
          }
        }
      }
    }
  }
}
