.sb-radio {
  display: inline-block;
}

.sb-radio__label {
  margin-right: 15px;
}

.sb-radio--inline {
  position: relative;
  display: inline-block;
}

.sb-radio--outline {
  width: fit-content;
  padding: 15px 20px;
  background-color: $white;
  border: 1px solid #eff1f5;
  border-radius: $base-border-radius;
}

.sb-radio__input {
  &:focus,
  &:hover {
    &:not([disabled]) + .sb-radio__label::before {
      box-shadow: 0 0 0 3px rgb(217 244 243 / 100%);
    }
  }

  &:checked,
  &:not(:checked) {
    position: absolute;
    margin: 2.5px;
    opacity: 0;
  }

  &:checked + .sb-radio__label,
  &:not(:checked) + .sb-radio__label {
    position: relative;
    display: inline-block;
    padding-left: 28px;
    color: $dark-blue-950;
    font-size: $font-14;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.3px;
    line-height: normal;
  }
}

.sb-radio__input:checked[disabled] + .sb-radio__label {
  &::before,
  &::after {
    cursor: not-allowed;
  }

  &::before {
    background-color: $gray-400;
    border: 1px solid $gray-400;
  }
}

.sb-radio__input:checked + .sb-radio__label {
  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 100%;
  }

  &::before {
    left: 0;
    top: 0;
    width: $s-4;
    height: $s-4;
    background-color: $teal-600;
    border: 1px solid $teal-600;
  }

  &::after {
    left: 6px;
    top: 6px;
    width: 6px;
    height: 6px;
    background-color: $white;
    opacity: 1;
    transform: scale(1);
    transition: all 0.2s ease;
  }
}

.sb-radio__input:not(:checked)[disabled] + .sb-radio__label {
  &::before,
  &::after {
    cursor: not-allowed;
  }

  &::before {
    background-color: #f5f5f5;
    border: 1px solid $gray-100;
  }
}

.sb-radio__input:not(:checked) + .sb-radio__label {
  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 100%;
  }

  &::before {
    left: 0;
    top: 0;
    width: $s-4;
    height: $s-4;
    background-color: $white;
    border: 1px solid $gray-100;
  }
}

.sb-radio__input[disabled] + .sb-radio__label {
  color: $dark-blue-400;
}
