.separator {
  width: 100%;
  height: 1px;
  margin: 40px 0;
  background-color: $light;
  border: 0;

  &--small {
    margin: 20px 0;
  }

  &--vertical {
    width: 1px;
    height: 25px;
    margin: 0 10px;
    background-color: $light-gray;
  }
}
