.separator {
  border-color: $bg-gray-100;
  border-style: solid;
}

.separator--horizontal {
  margin: 0;
  border-width: 1px 0 0;
}

.separator--vertical {
  align-self: stretch;
  margin: 0;
  border-width: 0 1px 0 0;
}

.separator--horizontal.separator--centered {
  margin-left: $s-2;
  margin-right: $s-2;
}

.separator--vertical.separator--centered {
  margin-bottom: $s-2;
  margin-top: $s-2;
}
