.sb-upload-dialog {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 602px;
  margin: 0 auto;
  background-color: $white;
  border-radius: $base-border-radius;
  box-shadow: 0 3px 44px 13px rgb(0 0 0 / 8%);

  svg {
    padding-right: $s-4;
  }

  &__content {
    display: flex;
    align-items: center;
    padding: $s-4;
    line-height: 1.2;
  }

  &__label {
    display: block;
    padding-right: $s-2;
    font-size: $font-14;
    text-align: left;
  }

  .sb-loading__bar {
    position: absolute;
    bottom: 0;
    overflow: auto;
    border-radius: 0 0 $base-border-radius $base-border-radius;
  }

  .sb-loading__bar::-webkit-progress-bar {
    border-radius: 0 0 $base-border-radius $base-border-radius;
  }

  .sb-loading__bar::-webkit-progress-value {
    border-radius: 0 0 $base-border-radius $base-border-radius;
  }

  .sb-loading__bar::-moz-progress-bar {
    border-radius: 0 0 $base-border-radius $base-border-radius;
  }

  &__time-left {
    margin-left: auto;
    color: $sb-dark-blue-50;
    font-size: $font-14;
    font-weight: $font-regular;
  }
}
