@mixin setColor ($color) {
  background-color: $color;

  .sb-icon {
    background-color: $color;
  }
}

.sb-badge {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 11px 0 4px;
  color: $white;
  font-size: $font-13;
  font-weight: $font-medium;
  letter-spacing: 0;
  text-align: center;
  border-radius: 5px;

  &--positive {
    @include setColor($green);
  }

  &--warning {
    @include setColor($orange);
  }

  &--info {
    @include setColor($blue);
  }

  &--negative {
    @include setColor($red);
  }

  &--only-icon {
    padding: 0;
  }

  &:not(&--only-icon) .sb-icon {
    margin-right: 5px;
  }

  .sb-icon {
    border-radius: 5px;
  }

  &--contract {
    width: 12px;
    height: 12px;
    padding: 0;
    border-radius: 100%;
  }

  &--inline-label {
    padding: 0;
    background-color: $white;

    .sb-badge__label {
      margin-left: 5px;
      color: $color-primary-dark;
      font-size: $font-14;
      font-weight: $font-medium;
    }
  }
}
