@mixin setColor ($color) {
  background-color: $color;

  .sb-icon {
    background-color: $color;
  }
}

.sb-badge {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 11px 0 $s-1;
  color: $white;
  font-size: $font-13;
  font-weight: $font-medium;
  letter-spacing: 0;
  text-align: center;
  border-radius: $base-border-radius;

  &--positive {
    @include setColor($green-500);
  }

  &--warning {
    @include setColor($yellow-500);
  }

  &--info {
    @include setColor($blue-600);
  }

  &--negative {
    @include setColor($red-400);
  }

  &--only-icon {
    padding: 0;
  }

  &:not(&--only-icon) .sb-icon {
    margin-right: 5px;
  }

  .sb-icon {
    border-radius: $base-border-radius;
  }

  &--contract {
    width: $s-3;
    height: $s-3;
    padding: 0;
    border-radius: 100%;
  }

  &--inline-label {
    padding: 0;
    background-color: $white;

    .sb-badge__label {
      margin-left: 5px;
      color: $dark-blue-950;
      font-size: $font-14;
      font-weight: $font-medium;
    }
  }
}
