.sb-editor {
  &__container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }

  &--title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 52px;
    color: $white;
    font-size: $font-14;
    font-weight: $font-weight-medium;
    background-color: $sb-dark-blue;

    .sb-button--small {
      padding: 5px 16px;
    }
  }
}

.sb-editor-header {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: $white;
  border: 1px solid $light;

  &__desktop {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    padding: 17px 0 16px 26px;

    .header__desktop {
      display: grid;
      flex: auto;
      padding-top: 5px;

      .desktop__title {
        color: $sb-dark-blue;
        font-size: $font-14;
        font-weight: $font-weight-medium;
      }

      .desktop__sub-title {
        color: $light-gray;
        font-size: $font-12;
        font-weight: $font-weight-regular;
      }
    }

    .header-item--avatar {
      min-width: 70px;
    }
  }

  &__item {
    max-height: 37px;
    min-width: 37px;
    padding-left: 10px;

    .sb-menu,
    button {
      max-height: 37px;
    }
  }

  &__separator {
    margin-left: 10px;
    border-left: 1px solid $light-75;
  }

  &__title {
    position: fixed;
    left: 26px;
    padding-top: 10px;
    color: $black;
    font-size: $font-14;
    font-weight: $font-weight-medium;
    text-align: center;
  }

  &__actions {
    display: flex;

    svg {
      padding-top: 2px;
    }

    .action__button {
      background-color: $white;
      border: 0;
      cursor: pointer;
    }
  }

  &__save-button {
    margin-top: 10px;
    color: $sb-green;
    font-size: $font-14;
    font-weight: $font-weight-medium;
    background-color: $white;
    border: 0;
    cursor: pointer;
  }

  &__mobile {
    box-sizing: border-box;
    height: 52px;
    padding: 5px;

    &--more {
      display: flex;
    }
  }

  &__content {
    display: flex;
    box-sizing: border-box;
    padding: 17px 19px 16px 0;

    &--mobile {
      padding: 0;
    }
  }

  &__status {
    svg {
      padding-top: 4px;
    }
  }
}

// for small mobiles
@include mq($until: sm) {
  .sb-editor-header__mobile {
    .sb-editor-header__item {
      margin-left: 2px;
      padding-left: 2px;
    }

    .sb-editor-header__mobile--more .sb-editor-header__item {
      max-width: 70px;
      padding-left: 0;

      .sb-button {
        max-width: 70px;
      }
    }

    .sb-menu {
      max-width: 70px;
    }

    .sb-editor-header__separator {
      margin-left: 3px;
    }
  }
}
