.sb-editor-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100vw;
  height: 60px;
  padding: $s-4;
  color: $sb-dark-blue;
  background-color: $white;
  border: 1px solid $light;
}

.sb-editor-header__title {
  display: flex;
  gap: $s-2;
  align-items: center;
  color: inherit;
  font-size: $font-14;
  font-weight: $font-medium;

  .sb-button {
    padding: 0;
    color: inherit;
    border: transparent;
  }
}

.sb-editor-header__actions {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 100%;
  padding: 17px 0 $s-4 26px;

  .header-item--avatar {
    min-width: 70px;
  }
}

.sb-editor-header__item {
  max-height: 37px;
  min-width: 37px;
  padding-left: 10px;

  .sb-menu,
  button {
    max-height: 37px;
  }
}

.sb-editor-header__separator {
  margin-left: 10px;
  border-left: 1px solid $light-75;
}

.sb-editor-header__menu {
  display: flex;

  svg {
    padding-top: 2px;
  }

  .action__button {
    background-color: $white;
    border: 0;
    cursor: pointer;
  }
}

// dark omde

.sb-editor-header--dark {
  color: $white;
  background-color: $sb-dark-blue;
  border: 1px solid $sb-dark-blue-75;

  .sb-button {
    color: $white;
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: $sb-dark-blue-75;
    }
  }
}
