.sb-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 2.8rem;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: $font-size-lg;
  cursor: pointer;
  transition: all .1s ease-in-out;
  vertical-align: middle;

  &--primary {
    background-color: $sb-green;
    color: $white;
    
    &:hover:not([disabled]) {
      background-color: $sb-green-75;
    }

    &[disabled] {
      color: $green-disabled;
      background-color: rgba($sb-green, 0.5);

      .sb-button__label {
        opacity: 0.5;
      }
    }

    &:focus {
      outline: 3px solid $sb-green-25;
    }
  }
  
  &--secondary {
    background-color: $sb-dark-blue;
    color: $white;

    &:hover:not([disabled]) {
      background-color: $sb-dark-blue-75;
    }

    &[disabled] {
      color: $color-primary-dark;
      background-color: rgba($sb-dark-blue, 0.5);
    }

    &:focus {
      outline: 3px solid $sb-dark-blue-25;
    }
  }

  &--ghost {
    background-color: $white;
    color: $sb-dark-blue;
    border-color: $light;

    &:hover:not([disabled]) {
      background-color: $light-50;
    }

    &[disabled] {
      opacity: 0.5;
    }

    &:focus {
      outline: 3px solid $light-25;
    }
  }

  &--danger {
    background-color: $red;
    color: $white;

    &[disabled] {
      opacity: 0.5;
    }

    &:focus {
      outline: 3px solid $red-25;
    }
  }

  &--small {
    padding: 0.8rem 1.6rem;
  }
  
  &--large {
    padding: 2rem 4.3rem;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  .sb-icon {
    vertical-align: middle;
  }

  &__label {
    font-weight: $font-weight-medium;
    vertical-align: middle;
  }

  &--full {
    width: 100%;
  }

  &--rounded {
    border-radius: 50%;
  }

  &--has-icon {
    .sb-icon {
      margin-right: 0.5rem;
    }
  }

  &--has-icon-right {
    .sb-icon {
      margin-left: 0.5rem;
    }
  }

  &--has-icon-only {
    padding: 1.4rem 1.4rem;

    .sb-icon {
      margin: 0;
    }
  }

  &--loading {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}