.sb-button {
  border-radius: 5px;
  font-size: 16px;
  height: 46px;
  width: 113px;
  cursor: pointer;
  border: none;

  &--primary {
    background-color: $color-primary;
    color: $white;
    
    &:hover {
      transition: all .1s ease-in-out;
      background: rgb(0, 164, 161);
      box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.08);
    }
  }
  
  &--secondary {
    background-color: $white;
    color: $primary-text-color;
    border: 1px solid rgb(223, 227, 232);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);

    &:hover {
      color: $sb-green;
    }
  }

  &--small {
    height: 36px;
    width: 88px;
  }
  
  &--large {
    height: 60px;
    width: 142px;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 30%;
  }

  &--icon {
    img { 
      vertical-align: middle;
      margin-right: 3.5px;
    }
  }

  &:focus {
    border-radius: 6px;
    border: 3px solid rgb(217, 244, 243);
  }
}