.sb-button {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  font-family: $primary-font-family;
  font-size: $font-size-lg;
  justify-content: center;
  padding: 14px 28px;
  transition: all 0.1s ease-in-out;
  vertical-align: middle;

  .sb-loading {
    position: absolute;
  }

  &__label {
    font-weight: $font-weight-medium;
    vertical-align: middle;
  }

  &--inverted-link {
    background: transparent;
    color: $white;
  }

  &--primary-link {
    background: transparent;
    color: $sb-green;
  }

  &--primary {
    background-color: $sb-green;
    color: $white;

    &:focus {
      outline: 3px solid $sb-green-25;
    }

    &:hover:not([disabled]) {
      background-color: $sb-green-75;
    }

    &[disabled] {
      background-color: rgba($sb-green, 0.5);
      color: $green-disabled;

      .sb-button__label {
        opacity: 0.5;
      }
    }
  }

  &--secondary {
    background-color: $sb-dark-blue;
    color: $white;

    &:focus {
      outline: 3px solid $sb-dark-blue-25;
    }

    &:hover:not([disabled]) {
      background-color: $sb-dark-blue-75;
    }

    &[disabled] {
      background-color: rgba($sb-dark-blue, 0.5);
      color: $color-primary-dark;
    }
  }

  &--ghost {
    background-color: $white;
    border-color: $light;
    color: $sb-dark-blue;

    &:focus {
      outline: 3px solid $light-25;
    }

    &:hover:not([disabled]) {
      background-color: $light-50;
    }

    &[disabled] {
      opacity: 0.5;
    }
  }

  &--danger {
    background-color: $red;
    color: $white;

    &[disabled] {
      opacity: 0.5;
    }

    &:focus {
      outline: 3px solid $red-25;
    }
  }

  &--loading {
    min-height: 49px;

    > .sb-icon {
      opacity: 0;
    }

    .sb-button__label {
      opacity: 0 !important;
    }
  }

  &--small {
    font-size: $font-size-md;
    padding: 8px 16px;

    .sb-loading {
      height: 14px;
      width: 14px;
    }

    .sb-loading svg {
      margin-left: -6px;
      margin-top: -6px;
    }
  }

  &--small#{&}--loading {
    min-height: 37px;
  }

  &--small#{&}--has-icon,
  &--small#{&}--has-icon-right {
    padding: 6px 16px 5px;
  }

  &--large {
    padding: 20px 43px;
  }

  &--large#{&}--loading {
    min-height: 61px;
  }

  &--large#{&}--has-icon,
  &--large#{&}--has-icon-right {
    padding: 18px 43px 17px;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  .sb-icon {
    vertical-align: middle;
  }

  &--full {
    width: 100%;
  }

  &--rounded {
    border-radius: 50%;
  }

  &--has-icon {
    padding: 12px 28px 11px;

    .sb-icon {
      margin-right: 5px;
    }
  }

  &--has-icon-right {
    padding: 12px 28px 11px;

    .sb-icon {
      margin-left: 5px;
    }
  }

  &--has-icon-only {
    min-height: 49px;
    padding: 0 12px;

    .sb-icon {
      margin: 0;
    }
  }

  &--has-icon-only#{&}--small {
    min-height: 37px;
    padding: 0 7px;
  }

  &--has-icon-only#{&}--large {
    min-height: 61px;
    padding: 0 18px;
  }
}
