.sb-menu-list {
  @include popoverComponent();

  background-color: $white;
  min-width: 180px;
  padding: 11px 0;
  z-index: 2;
}

.sb-menu-item {
  align-items: center;
  appearance: none;
  background-color: $white;
  border: 0;
  color: $sb-dark-blue;
  cursor: pointer;
  display: flex;
  font-size: $font-size-md;
  margin: 0;
  padding: 8px 20px;
  text-align: left;
  width: 100%;

  &:hover,
  &:focus {
    background-color: $light-50;
  }

  .sb-icon {
    margin-right: 10px;
  }

  &--negative {
    color: $red;
  }

  &--has-icon {
    padding: 5px 20px;
  }

  &--aux-text {
    min-width: 235px;

    span {
      margin-right: 100px;
    }

    small {
      $font-size-sm: 1.3rem;

      color: $sb-dark-blue-50;
    }
  }

  &--disabled {
    color: rgba($sb-dark-blue, 0.5);

    &:hover,
    &:focus {
      background-color: $light-25;
      cursor: not-allowed;
    }
  }
}

.sb-menu-separator {
  background-color: $light;
  border: 0;
  height: 1px;
  margin: 6px 0 6px 20px;
}

.sb-menu-group {
  &__title {
    color: $sb-dark-blue-50;
    font-size: $font-size-sm;
    margin: 0 0 5px;
    padding: 10px;

    &--bold {
      color: $sb-dark-blue;
      font-size: $font-size-md;
      font-weight: $font-weight-medium;
      padding-left: 20px;
    }
  }
}

.sb-menu-button-borderless {
  border: 0;
}
