.sb-menu-list {
  z-index: 2;
  min-width: 180px;
  padding: 11px 0;
  background-color: $white;

  @include popoverComponent();

  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }
}

.sb-menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: $s-2 20px;
  color: $sb-dark-blue;
  font-size: $font-14;
  line-height: normal;
  text-align: left;
  background-color: $white;
  border: 0;
  cursor: pointer;
  appearance: none;

  &:hover,
  &:focus {
    background-color: $light-50;
  }

  .sb-icon {
    margin-right: 10px;
  }

  &--negative {
    color: $red;
  }

  &--has-icon {
    padding: 5px 20px;
  }

  &--aux-text {
    justify-content: space-between;
    min-width: 235px;

    small {
      $font-13: 1.3rem;

      flex-grow: 1;
      color: $sb-dark-blue-50;
      text-align: end;
    }
  }

  &--disabled {
    color: rgba($sb-dark-blue, 0.5);

    &:hover,
    &:focus {
      background-color: $light-25;
      cursor: not-allowed;
    }
  }
}

.sb-menu-separator {
  height: 1px;
  margin: 6px 0 6px 20px;
  background-color: $light;
  border: 0;
}

.sb-menu-group {
  &__title {
    margin: 0 0 5px;
    padding: 10px;
    color: $sb-dark-blue-50;
    font-size: $font-13;

    &--bold {
      padding-left: 20px;
      color: $sb-dark-blue;
      font-size: $font-14;
      font-weight: $font-medium;
    }
  }
}

.sb-menu-button {
  &:focus {
    outline: none;
  }
}

.sb-menu-button-borderless {
  border: 0;
}

.sb-menu-item--is-link {
  width: initial;
  color: $black;
  text-decoration: none;
}
