.sb-tabs {
  border-bottom: 1px solid $light-gray;
  width: fit-content;

  &--add-button {
    background-color: transparent;
    color: $light-gray;
    border: none;
    vertical-align: bottom;
    cursor: pointer;
  }
}