.sb-tab-add {
  position: relative;
  display: flex;
  align-items: center;
  padding: 9px 10px;
  text-align: center;
}

.sb-tab-edit-button {
  position: absolute;
  right: -20px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: currentcolor;
  background: transparent;
  border: 0;
  cursor: pointer;
  opacity: 0;
  transform: none;
  transform: translateY(-50%);
  fill: currentcolor;
}

.sb-tab {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  margin-right: 25px;
  padding: 14px 2px;
  color: $text-gray;
  font-family: $primary-font-family;
  font-size: $font-14;
  font-weight: $font-medium;
  text-align: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $text-teal;
  }
}

.sb-tab--is-active {
  z-index: 3;
  color: $text-dark-blue;
  font-weight: $font-medium;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: $bg-teal;
  }
}

.sb-tab:focus {
  color: $text-teal;
}

.sb-tab--editable {
  padding: 9px 2px;

  &:hover,
  &:focus {
    .sb-tab-edit-button {
      opacity: 1;
    }
  }
}

.sb-tab--has-icon {
  padding: 9px $s-1 9px 2px;
}

.sb-tab--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.sb-tabs {
  position: relative;
  display: flex;
  overflow: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include scrollbar($bg-white, $bg-gray, 4px);

  @include mq($until: sm) {
    border-bottom: solid 1px $gray-100;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: $bg-gray-100;

    @include mq($until: sm) {
      display: none;
    }
  }
}

.sb-tabs__add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: bottom;
  margin-left: -12px;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  @include base--icon-hover;
}

.sb-tabs--container {
  .sb-tab--is-active {
    padding: $s-2;
    border: 1px solid $border-gray-light;
    border-radius: $base-border-radius $base-border-radius 0 0;
    border-bottom: 0;

    &::after {
      background: $bg-white;
    }
  }
}

.sb-tabs--vertical {
  flex-direction: column;

  @include mq($until: sm) {
    border-bottom: solid 1px transparent;
  }

  &::after {
    display: none;
  }

  .sb-tab--is-active {
    padding-left: $s-2;

    &::after {
      left: 0;
      top: 0;
      width: 3px;
      height: 100%;
    }
  }
}
