.sb-tab-add {
  position: relative;
  display: flex;
  align-items: center;
  padding: 9px 10px;
  text-align: center;
}

.sb-tab-edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: currentColor;
  background: transparent;
  border: 0;
  cursor: pointer;
  opacity: 0;
  transform: none;
  fill: currentColor;
}

.sb-tab {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  padding: 14px 15px;
  color: $sb-dark-blue-50;
  font-family: $primary-font-family;
  font-size: $font-14;
  font-weight: $font-weight-medium;
  text-align: center;
  cursor: pointer;

  &:hover {
    color: $primary-text-color;
  }

  // modifiers
  &--is-active {
    z-index: 3;
    color: $primary-text-color;
    font-weight: $font-weight-medium;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $sb-green;
    }
  }

  &--editable {
    padding: 9px 0 9px 24px;

    &:hover,
    &:focus {
      .sb-tab-edit-button {
        opacity: 1;
      }
    }
  }

  &--has-icon {
    padding: 9px 14px 9px 10px;

    span {
      margin-left: 5px;
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.sb-tabs {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $light;
  }

  // elements
  &__add-button {
    @include base--icon-hover;

    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
    margin-left: -12px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  &--container {
    .sb-tab--is-active {
      border: 1px solid $light-gray;
      border-radius: 5px 5px 0 0;
      border-bottom: 0;

      &::after {
        background-color: $white;
      }
    }
  }

  // modifiers
  &--vertical {
    flex-direction: column;

    &::after {
      display: none;
    }

    .sb-tab--is-active {
      &::after {
        left: 0;
        top: 0;
        width: 3px;
        height: 100%;
      }
    }
  }
}
