.sb-tabs {
  list-style-type: none;
  border-bottom: 1px solid $light-gray;
  padding: 0;
  margin: 0;

  &--add-button {
    background-color: transparent;
    color: $light-gray;
    border: none;
    vertical-align: bottom;
    cursor: pointer;
  }

  &--container {
    .sb-tab--is-active{
      border: 1px solid $light-gray;
      border-bottom: none;
      border-radius: 5px 5px 0px 0px;
    }
  }
}