@keyframes slide {
  0%   {transform: translateX(100%);}
  25%  {transform: translateX(75%);}
  50%  {transform: translateX(50%);}
  75%  {transform: translateX(25%);}
  100% {transform: translateX(0%);}
}
