@import 'animations';

.sb-slideover {
  position: fixed;
  bottom: 20px;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
  max-height: calc(100vh - 40px);
  margin-left: auto;
  padding: 20px;
  background-color: $white;
  border-radius: $base-border-radius;

  @include mq($from: lg) {
    max-width: 624px;
    min-width: 400px;
  }

  &--left {
    left: 20px;
    right: auto;
    margin-left: initial;
    margin-right: auto;
  }

  &__close-button {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    appearance: none;

    @include base--icon-hover;
  }

  .sb-modal-footer {
    margin-bottom: -20px;
  }

  .sb-modal-header__title {
    width: 100%;
    line-height: 30px;
    word-break: break-word;
  }

  .sb-modal-header__heading {
    width: calc(100% - 36px);
  }
}

@include mq($until: sm) {
  .sb-slideover {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    max-height: 100vh;
    max-width: 100vw;
    padding: 10px;
  }
}
