@import 'animations';

.sb-slideover {
  position: fixed;
  bottom: 20px;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
  max-height: calc(100vh - 40px);
  max-width: 624px;
  min-width: 400px;
  margin-left: auto;
  padding: 20px;
  background-color: $white;
  border-radius: 5px;

  &--left {
    left: 20px;
    right: auto;
    margin-left: initial;
    margin-right: auto;
  }

  &__close-button {
    @include base--icon-hover;

    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    appearance: none;
  }

  .sb-modal-footer {
    margin-bottom: -20px;
  }

  .sb-modal-header__title {
    width: calc(100% - 36px);
    line-height: 30px;
    word-break: break-word;
  }
}
