.sb-slideover {
  background-color: $white;
  border-radius: 5px;
  bottom: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: auto;
  max-height: 96vh;
  max-width: 624px;
  min-width: 400px;
  overflow: hidden;
  padding: 20px;
  position: fixed;
  right: 20px;
  top: 20px;

  &--left {
    left: 20px;
    margin-left: initial;
    margin-right: auto;
    right: auto;
  }

  &__close-button {
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
  }
}

@import 'animations';
