.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: $white;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: $teal-600;
  border-radius: $base-border-radius;
}

.outer-margin {
  display: inline-block;
  background-image: linear-gradient(135deg, $dark-blue-950 10%, #0000 0, #0000 50%, $dark-blue-950 0, $dark-blue-950 60%, #0000 0, #0000);
  background-size: 7.07px 7.07px;
}

.outer-padding {
  display: inline-block;
  background-image: linear-gradient(135deg, $teal-600 10%, #0000 0, #0000 50%, $teal-600 0, $teal-600 60%, #0000 0, #0000);
  background-size: 7.07px 7.07px;
}

.wrapper {
  display: flex;
  gap: 8px;
  align-items: start;
}

pre {
  display: inline-block;
  padding: 8px;
  color: #dcdcdc;
  font-size: 1.2rem;
  background: $dark-blue-950;
  border-radius: $base-border-radius;
}

code {
  display: inline-block;
  margin: 0;
  line-height: 1.45;
}
