$padding-full-height-difference: 8px;
$general-padding: 20px;
$full-height-padding: $general-padding - $padding-full-height-difference;

.sb-minibrowser {
  @include popoverComponent();

  max-width: 300px;
  width: 100%;

  // components
  &__input-container {
    color: $sb-dark-blue-50;
    position: relative;

    &-icon,
    &-clear {
      position: absolute;
      right: $general-padding;
      top: 15px;
    }

    &-clear {
      @include resetButtonStyle();
    }

    &--loading {
      .sb-icon {
        height: 26px;
        right: 14px;
        top: 14px;
        width: 26px;
      }
    }
  }

  &__input {
    border: 0;
    display: block;
    font-size: $font-size-sm;
    padding: $general-padding;
    position: relative;
    width: 100%;
  }

  &__list-container {
    border-top: 1px solid $light;
    max-height: 250px;
    overflow-y: scroll;
    padding: 13.5px 0;
  }

  &__breadcrumbs {
    padding: 10px $general-padding 13.5px;

    .sb-breadcrumbs__item--active {
      color: $sb-dark-blue-50;
    }
  }

  &__list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-header {
    align-items: center;
    display: flex;
    font-size: $font-size-sm;
    margin: 0;
    padding: 9px $general-padding;
    text-transform: uppercase;

    &-title {
      color: $sb-dark-blue-50;
      flex: 1;
      margin: 0;
      padding: 0;
    }

    &-icon {
      margin-right: 10px;
    }
  }

  &__list-item {
    align-items: center;
    background-color: $white;
    display: flex;
    padding: 9px $general-padding;

    &-name {
      color: $color-primary-dark;
      flex: 1;
      font-size: $font-size-md;
    }

    &-icon {
      margin-right: 10px;
    }

    &--active {
      background-color: $light-50;
    }

    &:hover {
      background-color: $light-50;
      cursor: pointer;
    }
  }

  &__not-found {
    color: $sb-dark-blue-50;
    font-size: $font-size-sm;
    margin: 0;
    padding-bottom: 27px;
    text-align: center;
  }

  // modifiers
  &--expanded {
    max-width: none;
  }

  &--full-height &__list-header {
    padding: 6px $full-height-padding;
  }

  &--full-height &__list-container {
    border-top: 0;
    max-height: none;
  }

  &--full-height &__list-item {
    border-radius: 5px;
    padding: 6px $full-height-padding;
    position: relative;
  }

  &--full-height &__input {
    padding: 20px $full-height-padding;
  }

  &--full-height &__input-container &__input-container-icon,
  &--full-height &__input-container &__input-container-clear {
    right: $full-height-padding;
  }

  &--full-height &__input-container {
    &::before {
      background-color: $light;
      bottom: 0;
      content: '';
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      transform: translateX($full-height-padding);
      width: calc(100% - #{$full-height-padding * 2});
      z-index: 2;
    }
  }

  &--full-height &__breadcrumbs {
    padding: 10px $full-height-padding 13.5px;
  }

  &--borderless {
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
}
