.sb-minibrowser {
  @include popoverComponent();

  max-width: 300px;
  width: 100%;

  // components
  &__input-container {
    color: $sb-dark-blue-50;
    position: relative;

    .sb-icon {
      position: absolute;
      right: 20px;
      top: 20px;
    }

    &--loading {
      .sb-icon {
        height: 26px;
        right: 14px;
        top: 14px;
        width: 26px;
      }
    }
  }

  &__input {
    border: 0;
    display: block;
    font-size: $font-size-sm;
    padding: 20px;
    position: relative;
    width: 100%;
  }

  &__icon-close {
    cursor: pointer;
  }

  &__list-container {
    border-top: 1px solid $light;
    max-height: 250px;
    overflow-y: scroll;
    padding: 13.5px 0;
  }

  &__breadcrumbs {
    padding: 10px 20px 13.5px;

    .sb-breadcrumbs__item--active {
      color: $sb-dark-blue-50;
    }
  }

  &__list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-title {
    align-items: center;
    color: $sb-dark-blue-50;
    display: flex;
    font-size: $font-size-sm;
    margin: 0;
    padding: 7.5px 20px;
    text-transform: uppercase;

    .sb-icon {
      margin-right: 10px;
    }
  }

  &__list-item-name {
    background-color: $white;
    color: $color-primary-dark;
    display: block;
    font-size: $font-size-md;
    padding: 7.5px 20px;

    &:hover {
      background-color: $light-50;
      cursor: pointer;
    }

    .sb-icon {
      margin-right: 10px;
    }
  }

  &__not-found {
    color: $sb-dark-blue-50;
    font-size: $font-size-sm;
    margin: 0;
    padding-bottom: 27px;
    text-align: center;
  }

  // modifiers
  &--expanded {
    max-width: none;
  }
}
