$padding-full-height-difference: 8px;
$general-padding: 20px;
$full-height-padding: $general-padding - $padding-full-height-difference;

.sb-minibrowser {
  @include popoverComponent();

  max-width: 300px;
  padding: 10px;
  width: 100%;

  // components
  &__input-container {
    color: $sb-dark-blue-50;
    position: relative;

    &-icon {
      left: 5px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &-clear {
      @include resetButtonStyle();

      position: absolute;
      right: $general-padding;
      top: 10px;
    }
  }

  &__breadcrumbs {
    padding: 10px $general-padding 13px;

    .sb-breadcrumbs__item--active {
      color: $sb-dark-blue-50;
    }
  }

  &__list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list > ul {
    max-height: 250px;
    overflow-y: auto;
    padding: 13.5px 0;
  }

  &__list-header {
    align-items: center;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 8%);
    display: flex;
    font-size: $font-size-sm;
    margin: 0 0 1px;
    padding: 9px $general-padding;

    &-title {
      color: $sb-dark-blue-50;
      flex: 1;
      margin: 0;
      padding: 0;
    }

    &-icon {
      margin-right: 10px;
    }

    .base-icon-button {
      @include base--icon-hover;

      margin-right: -6px;
    }
  }

  &__list-item {
    align-items: center;
    background-color: $white;
    display: flex;
    margin-bottom: 1px;
    padding: 9px $general-padding;

    &-container {
      flex: 1;
    }

    &-name {
      color: $color-primary-dark;
      display: block;
      font-size: $font-size-md;
    }

    &-subtitle {
      color: $light-gray;
      display: block;
      font-size: $font-size-xs;
      margin-top: 2px;
    }

    &-icon {
      margin-right: 10px;
    }

    &-icon-home {
      background-color: $light-50;
      border: transparent;
      border-radius: $base-border-radius;
      cursor: pointer;
      margin-left: 2px;
      padding: 3px;

      .sb-icon {
        margin: 0;
      }
    }

    &--active {
      .sb-minibrowser__list-item-name {
        @include selectedItem;
      }
    }

    &--disabled {
      cursor: not-allowed !important;
      opacity: 0.5;
    }

    &:hover {
      background-color: $light-50;
      cursor: pointer;
    }
  }

  &__not-found {
    color: $sb-dark-blue-50;
    font-size: $font-size-sm;
    margin: 0;
    padding-bottom: 27px;
    text-align: center;
  }

  // modifiers
  &--expanded {
    max-width: none;
  }

  &--full-height &__list-header {
    padding: 6px;
  }

  &--full-height &__list-container {
    border-top: 0;
    max-height: none;
    padding-top: 5px;
  }

  &--full-height &__list-item {
    border-radius: 5px;
    padding: 6px;
    position: relative;
  }

  &--full-height &__input {
    padding: 13px 13px 13px 32px;
  }

  &--full-height &__input-container &__input-container-icon,
  &--full-height &__input-container &__input-container-clear {
    right: $full-height-padding;
  }

  &__input-container-clear .sb-icon:hover {
    color: $sb-dark-blue-50;
  }

  &--full-height &__breadcrumbs {
    padding: 10px 30px;
  }

  &--borderless {
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
}
