.sb-group-button {
  display: inline-flex;

  &--has-spaces {
    gap: $s-2;
  }
}

.sb-group-button:not(.sb-group-button--has-spaces) {
  .sb-group-button__button {
    &:not(:last-child) .sb-button {
      border-right: 0 none;
    }

    &:not(:first-of-type, :last-of-type) .sb-button {
      border-radius: 0;
    }

    &:first-of-type:not(:only-of-type) .sb-button {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    &:last-of-type:not(:only-of-type) .sb-button {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &:focus .sb-button {
      position: relative;
      z-index: 1;
    }
  }
}

.sb-group-button__button:focus-visible {
  border-radius: $base-border-radius;
  box-shadow: 0 0 0 0.2rem $sb-green-25;
  outline-offset: 0;
  outline: 0 none;
}
