.sb-group-button {
  display: inline-flex;

  .sb-link {
    margin: 0 15px;
  }

  &--has-spaces {
    .sb-button:not(:last-child) {
      margin-right: 10px;
    }
  }

  &:not(&--has-spaces) {
    .sb-button {
      margin: -1px;
      border-radius: 0;
    }

    .sb-button:first-child {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }

    .sb-button:last-child {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }

    .sb-button:not(:first-child) {
      border-left: 0;
    }
  }

  .sb-button {
    outline: none;
  }
}
