.sb-drop-area {
  width: 100%;
  min-height: 188px;

  &__over {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: rgba(19, 25, 45, 0.47);
    cursor: copy;

    .sb-drop-area__content {
      width: 90%;
      background-color: $white;
      border-radius: 50%;
      pointer-events: none;
      aspect-ratio: 1/1;
    }

    .sb-drop-area__icon {
      background-color: $sb-green-25;

      svg {
        width: 48px;
        height: 48px;
      }
    }
  }

  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: auto;
    border: 1px solid transparent;
    transform: translate(-50%, -50%);
    transition: all 0.05s ease;
  }

  &__title {
    margin: 20px 0 10px;
    color: $primary-text-color;
    font-size: $heading-lg;
    font-weight: $font-weight-medium;
    text-align: center;
  }

  &__subtitle {
    width: 80%;
    margin: 0 auto;
    color: $light-gray;
    font-size: $font-size-default;
    font-weight: $font-weight-regular;
    text-align: center;

    span {
      color: $sb-green;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 104px;
    height: 104px;
    background-color: $white;
    border-radius: 50%;
    transition: $base-transition;

    svg {
      width: 83px;
      height: 105px;
    }
  }
}
