.sb-drop-area {
  width: 100%;
  min-height: 188px;

  &__over {
    position: fixed;
    z-index: 5;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: rgb(19 25 45 / 47%);
    cursor: copy;
    inset: 0;

    .sb-drop-area__content {
      width: 90%;
      background-color: $white;
      border-radius: 50%;
      pointer-events: none;
      aspect-ratio: 1/1;
    }

    .sb-drop-area__icon {
      background-color: $teal-400;

      svg {
        width: $s-8;
        height: $s-8;
      }
    }
  }

  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: auto;
    border: 1px solid transparent;
    transform: translate(-50%, -50%);
    transition: all 0.05s ease;
  }

  &__title {
    margin: 20px 0 10px;
    color: $text-primary;
    font-size: $font-20;
    font-weight: $font-medium;
    text-align: center;
  }

  &__subtitle {
    width: 80%;
    margin: 0 auto;
    color: $gray-400;
    font-size: $font-size-default;
    font-weight: $font-regular;
    text-align: center;

    span {
      color: $teal-600;
      cursor: pointer;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 104px;
    height: 104px;
    margin-bottom: $s-4;
    background-color: $white;
    border-radius: 50%;
    transition: $base-transition;

    svg {
      width: 83px;
      height: 105px;
    }
  }
}
