.sb-drop-area {
  width: 100%;

  &__over {
    background-color: rgba(19, 25, 45, 0.47);
    box-sizing: border-box;
    cursor: copy;
    left: 0;
    min-height: 100vh;
    position: fixed;
    top: 0;

    .sb-drop-area__content {
      background-color: $white;
      border-radius: 50%;
    }

    .sb-drop-area__icon {
      background-color: $sb-green-25;

      svg {
        height: 48px;
        width: 48px;
      }
    }
  }

  &__content {
    border: 1px solid transparent;
    height: 500px;
    left: 50%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.05s ease;
    width: 100%;
  }

  &__title {
    color: $primary-text-color;
    font-size: $text-medium-header;
    font-weight: $font-weight-medium;
    margin: 20px 0 10px;
    text-align: center;
  }

  &__subtitle {
    color: $light-gray;
    font-size: $font-size-default;
    font-weight: $font-weight-regular;
    margin: 0 auto;
    text-align: center;
    width: 80%;

    span {
      color: $sb-green;
      cursor: pointer;
    }
  }

  &__icon {
    align-items: center;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    height: 104px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 159px;
    transition: $base-transition;
    width: 104px;

    svg {
      height: 105px;
      width: 83px;
    }
  }
}
