.sb-drop-area {
  background-color: $white;
  height: 100vh;
  width: 100%;

  &__over {
    background-color: $light-gray;
    cursor: copy;

    .sb-drop-area__content {
      border-radius: 50%;
    }

    .sb-drop-area__icon {
      background-color: $sb-green-25;

      svg {
        height: 48px;
        width: 48px;
      }
    }
  }

  &__content {
    background-color: $white;
    border: 1px solid transparent;
    height: 500px;
    left: 50%;
    margin-right: -50%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.05s ease;
  }

  &__title {
    color: $primary-text-color;
    font-size: $text-medium-header;
    font-weight: $font-weight-medium;
    text-align: center;
    vertical-align: middle;
  }

  &__subtitle {
    color: $light-gray;
    font-size: $font-size-default;
    font-weight: $font-weight-regular;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 70%;
  }

  &__icon {
    align-items: center;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    height: 104px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 159px;
    transition: all 0.1s ease;
    width: 104px;

    svg {
      height: 105px;
      width: 83px;
    }
  }
}
