@mixin listPosition {
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
  z-index: 4;
}

.sb-select {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 100%;

  // modifiers
  &--multiple {
    .sb-select-list__item--selected {
      background-color: $white;
    }
  }

  &--inline {
    width: auto;

    .sb-select-inner {
      border: none;
      
      &__label {
        color: $color-primary-dark;
        margin-right: 0.5rem;
      }
    }

    .sb-select-list {
      position: absolute;
      top: 0;
    }
  }

  &[aria-expanded="true"] {
    .sb-select-list {
      display: block;
    }

    .sb-minibrowser {
      display: block;
    }
  }

  .sb-minibrowser {
    display: none;
    @include listPosition();
  }
}

.sb-select-inner {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  color: $sb-dark-blue-50;
  font-size: $font-size-md;
  border: 1px solid $light;
  border-radius: 5px;
  cursor: pointer;

  .sb-tag {
    margin: 4px;
  }

  // elements
  &__icon-left {
    margin-right: 1rem;
  }

  &__tags {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
  }

  &__clear {
    appearance: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 0.5rem;
    border-radius: 50%;
    color: $white;
    background-color: $light-gray;
  }

  &__label {
    flex: 1;
  }

  &__avatar {
    flex: 1;
  }

  // modifiers
  &--with-value {
    color: $color-primary-dark;
  }
}

.sb-select-list {
  @include popoverComponent();

  display: none;
  flex: 1;
  width: 100%;
  padding: 1rem 0;
  @include listPosition();

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    appearance: none;
    border: 0;
    background-color: $white;
    padding: 1rem 2rem;
    margin: 0;
    text-align: left;
    cursor: pointer;
    font-size: $font-size-md;

    &:hover,
    &:focus {
      background-color: $light-50;
    }

    &--selected {
      background-color: $light-50;
    }
  }

  &--filterable {
    padding-top: 0;
  }
}

.sb-select-list-search {
  position: relative;
  display: block;
  border-bottom: 1px solid $light;
  
  input {
    padding: 2rem;
    border: none;
    font-size: $font-size-sm;
    width: 100%;
  }

  .sb-icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}