@mixin listPosition {
  left: 0;
  position: absolute;
  top: calc(100% + 10px);
  z-index: 4;
}

.sb-select {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  // modifiers
  &--inline {
    width: auto;

    .sb-select-inner {
      border: 0;

      &__label {
        color: $sb-dark-blue-50;
        margin-right: 5px;
      }

      &__chevron {
        color: $light-gray;
      }

      &__input {
        width: auto;
      }
    }

    .sb-select-list {
      position: absolute;
      top: 0;
    }

    &:hover {
      ::placeholder {
        color: $sb-dark-blue;
        opacity: 1;
      }
    }
  }

  &[aria-expanded='true'] {
    .sb-select-list {
      display: block;
    }

    .sb-minibrowser {
      display: block;
    }
  }

  .sb-minibrowser {
    @include listPosition();

    display: none;
  }

  &--loading .sb-select-inner__chevron {
    color: $sb-green;
  }
}

.sb-select-inner {
  align-items: center;
  background-color: $white;
  border: 1px solid $light;
  border-radius: 5px;
  color: $sb-dark-blue;
  cursor: pointer;
  display: flex;
  flex: 1;
  font-size: $font-size-md;
  padding: 11px 10px 11px 17px;

  &:hover {
    border-color: $sb-green;
  }

  &:focus {
    border-color: $sb-green;
    border-radius: 5px;
    box-shadow: 0 0 0 3px $sb-green-25;
    outline: none;
  }

  .sb-tag {
    margin: 4px;
  }

  // elements
  &__icon-left {
    margin-right: 10px;
  }

  &__tags {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: -4px 0 -4px -4px;
  }

  &__tags &__input {
    margin-left: 4px;
  }

  &__clear {
    appearance: none;
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    color: $light-gray;
    cursor: pointer;
    padding: 0;
  }

  &__input {
    border: 0;
    color: $sb-dark-blue;
    flex: 1;
    font-size: inherit;
    outline: none;
    padding: 0;
    width: 100%;

    &:read-only {
      cursor: pointer;
    }

    &::placeholder {
      color: $sb-dark-blue-50;
    }
  }

  &__value {
    position: absolute;
  }

  &__avatar {
    margin: -1px 10px -1px 0;
  }

  &__chevron,
  &:hover &__chevron {
    color: $sb-dark-blue;
  }

  &__disabled {
    background: $light-25;
    cursor: not-allowed !important;

    .sb-select-inner__input {
      background: $light-25;
      pointer-events: none;
    }

    &:focus,
    &:hover {
      border-color: $light;
      box-shadow: none;
      outline: none;
    }
  }
}

.sb-select-list {
  @include popoverComponent();
  @include listPosition();

  background-color: $white;
  box-sizing: border-box;
  display: none;
  flex: 1;
  max-height: 235px;
  min-width: 176px;
  overflow: auto;
  padding: 13px 0;
  width: 100%;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item,
  &__create {
    align-items: center;
    appearance: none;
    background-color: $white;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: $font-size-md;
    margin: 0;
    padding: 10px 17px;
    text-align: left;
    width: 100%;

    &--focused {
      background-color: $light-50;
      outline: none;
    }

    &--selected {
      .sb-select-list__item-name {
        @include selectedItem;
      }
    }
  }

  &__item-name,
  &__create {
    color: $sb-dark-blue;
    min-height: 17px;
  }

  &__create-label {
    color: $sb-green;
    margin-right: 5px;
  }

  &__empty {
    color: $sb-dark-blue-50;
    display: block;
    font-size: 1.3rem;
    text-align: center;
  }
}
