.sb-tab-menu {
  display: flex;
  width: auto;
  margin: 0;
  padding: 0;
  box-shadow: inset 0 -1px 0 $shadow-gray-100;
}

.sb-tab-menu__container {
  position: relative;
  overflow-x: auto;
  width: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.sb-tab-menu__arrow {
  z-index: 3;
  align-self: center;

  &--right {
    justify-self: flex-end;
    margin-left: auto;
  }

  &:focus-visible {
    outline-color: $border-teal;
  }
}

.sb-tab-menu--scrollable .sb-tab-menu__container {
  overflow-x: scroll;
}

.sb-tab-menu--vertical {
  width: 100%;
  color: $text-dark-blue;
  box-shadow: none;

  .sb-tab-menu__container {
    width: 100%;
  }

  .sb-tab-menu__menu {
    flex-direction: column;
  }

  .sb-tab-menu__action {
    padding: $s-3 0;
    text-align: left;
  }

  .sb-tab-menu__menu-item {
    color: $text-dark-blue;

    &:not([data-p-disabled='true']) {
      padding-left: $s-3;
    }

    &[data-p-disabled='true'] {
      color: $text-gray;
    }

    &[data-p-highlight='true'] {
      color: $text-teal;
      background-color: $bg-gray-100;
      border-radius: $base-border-radius;
    }
  }

  .sb-tab-menu__inkbar {
    display: none;
  }

  .sb-tab-menu__loading {
    flex-direction: column;
  }
}

.sb-tab-menu__slot-item {
  display: flex;
  gap: 1px;
  justify-content: center;
}

.sb-tab-menu--container {
  .sb-tab-menu__menu-item {
    position: relative;
    padding: 0 $s-3;
    color: $text-dark-blue;
    background: $bg-gray-50;
    border: 1px solid $border-gray-light;
    border-radius: $base-border-radius $base-border-radius 0 0;
    border-bottom: 0;

    &[data-p-highlight='true'] {
      background: $bg-white;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: $bg-white;
      }
    }
  }

  .sb-tab-menu__inkbar {
    display: none;
  }
}

.sb-tab-menu__menu {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  color: inherit;
  list-style-type: none;
}

.sb-tab-menu__menu-item {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  margin-right: 25px;
  color: $text-gray;
  font-family: $primary-font-family;
  font-size: $font-14;
  font-weight: $font-medium;
  text-align: center;
  background-color: transparent;
  border: 0;
  border-radius: $base-border-radius;
  cursor: pointer;

  &[data-p-disabled='true'] {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &[data-p-highlight='true'] {
    color: $text-dark-blue;
  }
}

.sb-tab-menu__menu-label {
  line-height: 1;

  &:hover,
  &:focus {
    color: $text-dark-blue;
  }
}

.sb-tab-menu__action {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: max-content;
  padding: $s-3 0;
  text-decoration: none;
  border-radius: $base-border-radius;
  cursor: pointer;

  &:hover:not([aria-disabled='true']),
  &:focus:not([aria-disabled='true']) {
    z-index: 1;
    color: $text-teal;
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 0.2rem $shadow-teal-100;
    outline-offset: 0;
    outline: 0 none;
  }
}

.sb-tab-menu__icon {
  padding: 9px $s-1 9px 2px;
}

.sb-tab-menu__inkbar {
  position: absolute;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 3px;
  background-color: $bg-teal;
  border-radius: 2px;
}

.sb-tab-menu__loading {
  display: flex;
  gap: $s-2;
  margin-bottom: $s-2;
}
