.sb-form-group {
  width: 100%;
  margin-top: $medium-size;

  @include mq($until: sm) {
    &--inline {
      display: block;
    }

    &__info {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid $light;
    }
  }

  &--inline {
    display: flex;
  }

  &:not(&--inline) &__info {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $light;
  }

  &--inline &__info {
    padding-right: 20px;
  }

  &__slot {
    flex: 1;
  }

  &__legend {
    color: $sb-dark-blue;
    font-size: $font-size-default;
    font-weight: $font-weight-medium;
  }

  &__description {
    margin: 5px 0 0;
    color: $sb-dark-blue-50;
    font-size: $font-14;
    line-height: 1.3;
  }
}
