.sb-card {
  width: 100%;
  max-width: 512px;
  padding: 2rem;
  border-radius: 3px;
  border: 1px solid $light;

  &--full-width {
    max-width: none;
  }
  
  // components
  &__header {
    padding: 1rem 0 3rem 0;
  }

  &__title {
    color: $primary-text-color;
    font-family: $primary-font-family;
    font-size: $font-size-md;
    font-weight: $font-weight-medium;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
  }
}