.sb-card {
  position: relative;
  padding: 20px;
  border: 1px solid $light;
  border-radius: $base-border-radius;

  // components
  &__header {
    position: relative;
    margin: 10px 0 30px;
  }

  &__title {
    color: $primary-text-color;
    font-family: $primary-font-family;
    font-size: $font-14;
    font-weight: $font-medium;
  }

  .sb-card__content {
    position: relative;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
  }

  &__options {
    position: absolute;
    right: 0;
    top: -15px;

    .sb-button {
      border: 0;
    }
  }

  // modifiers
  &--loading {
    .sb-card__loading {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: $light-25;
    }
  }
}
