@mixin setIconSize ($size) {
  width: $size;
  height: $size;
}

@mixin setIconColor ($color) {
  color: $color;
  fill: $color;
}

$icon-colors: (
  'primary': $color-primary,
  'primary-dark': $color-primary-dark,
  'secondary': $color-secondary,
  'positive': $color-positive,
  'negative': $color-negative,
  'warning': $color-warning,
  'white': $color-white,
  'green': $green,
  'yellow': $yellow,
  'blue': $blue,
  'orange': $orange,
  'light': $light,
  'light-gray': $light-gray,
);

$bg-colors: (
  'primary': $sb-green-25,
  'primary-dark': $sb-dark-blue-25,
  'secondary': $sb-green-25,
  'positive': $green-25,
  'negative': $red-25,
  'warning': $orange-25,
  'white': $color-white,
  'green': $green-25,
  'yellow': $yellow-25,
  'blue': $blue-25,
  'orange': $orange-25,
  'light': $light-25,
  'light-gray': $light,
);

.sb-icon {
  display: inline-block;
  vertical-align: middle;
  stroke-width: 2px;

  @include setIconSize($icon-default-size);
  @include setIconColor(currentColor);

  &.iconify {
    padding: 2px;

    @include setIconSize(20px);
  }

  &--small {
    @include setIconSize($icon-small-size);
  }

  &--large {
    @include setIconSize($icon-large-size);
  }

  &--x-large {
    @include setIconSize($icon-extra-large-size);
  }

  &--color {
    @each $name, $colorVariable in $icon-colors {
      &-#{$name} {
        @include setIconColor($colorVariable);
      }
    }
  }

  &--bg {
    @each $name, $colorVariable in $bg-colors {
      &-#{$name} {
        padding: 12px;
        background-color: $colorVariable;
        border-radius: 100%;
      }
    }
  }

  &--no-fill {
    fill: none;
    stroke: none;
  }
}
