@mixin setIconSize($size) {
  width: $size;
  height: $size;
}

@mixin setIconColor($color) {
  color: $color;
}

$icon-colors: (
  'primary': $teal-600,
  'primary-dark': $dark-blue-950,
  'secondary': $green-500,
  'positive': $green-500,
  'negative': $red-400,
  'warning': $yellow-500,
  'white': $white,
  'green': $green-500,
  'yellow': $yellow-300,
  'blue': $blue-600,
  'orange': $yellow-600,
  'light': $gray-500,
  'light-gray': $gray-800,
);
$bg-colors: (
  'primary': $teal-100,
  'primary-dark': $dark-blue-200,
  'secondary': $green-100,
  'positive': $green-100,
  'negative': $red-100,
  'warning': $yellow-100,
  'white': $white,
  'green': $green-100,
  'yellow': $yellow-100,
  'blue': $blue-200,
  'orange': $yellow-200,
  'light': $gray-50,
  'light-gray': $gray-200,
);

.sb-icon {
  display: inline-block;
  vertical-align: middle;

  @include setIconSize($icon-default-size);
  @include setIconColor(currentColor);

  &--no-fill {
    fill: none;
    stroke: none;
  }

  &--fill {
    fill: currentcolor;
    stroke: currentcolor;
  }

  &--lucide {
    padding: 3px;
    stroke: currentcolor;

    @include setIconSize(1.8rem);

    &.sb-icon--small {
      @include setIconSize(1.2rem);
    }

    &.sb-icon--large {
      @include setIconSize(3rem);
    }

    &.sb-icon--x-large {
      @include setIconSize(4.4rem);
    }
  }

  &--custom {
    fill: currentcolor;
    stroke-width: 2px;

    &.sb-icon--small {
      @include setIconSize($icon-small-size);
    }

    &.sb-icon--large {
      @include setIconSize($icon-large-size);
    }

    &.sb-icon--x-large {
      @include setIconSize($icon-extra-large-size);
    }
  }

  &--color {
    @each $name, $colorVariable in $icon-colors {
      &-#{$name} {
        @include setIconColor($colorVariable);
      }
    }
  }

  &--bg {
    @each $name, $colorVariable in $bg-colors {
      &-#{$name} {
        padding: $s-3;
        background-color: $colorVariable;
        border-radius: 100%;
      }
    }
  }
}
