.sb-block-ui {
  position: fixed;
  z-index: 4;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden auto;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background-color: $black-trasparent;
  inset: 0;

  @include mq($until: lg) {
    &--full-width {
      padding: 0;
    }
  }

  &--in-element {
    position: absolute;
    background-color: transparent;
  }
}
