.sb-block-ui {
  align-items: center;
  background-color: $black-trasparent;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  left: 0;
  overflow: auto;
  padding: 2rem;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  z-index: 9999;
}
