.sb-block-ui {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 4;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background-color: $black-trasparent;
}

.sb-block-ui--in-element {
  position: absolute;
  background-color: transparent;
}
