.sb-color-pallete {
  margin-bottom: 20px;

  &__title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

.sb-colors {
  height: 100px;
  width: 250px;
  padding: 0;
  margin: -1px;
  display: inline-block;

  &--container {
    color: $light-gray;
    font-size: $font-size-md;
    height: 150px;
    width: 250px;
    display: inline-grid;
    margin-bottom: 10px;
  }
}