.sb-color-pallete {
  margin-bottom: 20px;

  &__title {
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 500;
  }
}

.sb-colors {
  display: inline-block;
  width: 250px;
  height: 100px;
  margin: -1px;
  padding: 0;

  &--container {
    display: inline-grid;
    width: 250px;
    height: 150px;
    margin-bottom: 10px;
    color: $light-gray;
    font-size: $font-14;
  }
}
