.sb-modal {
  animation: fadein 0.5s;
  background-color: $white;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 1.7rem 0.3rem $sb-dark-blue-25;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 62rem;
  overflow: auto;
  padding: 3.5rem;
  position: relative;
  width: 100%;

  &__close-button {
    background-color: $white;
    border: 0;
    cursor: pointer;
    float: right;
    margin-right: -2rem;
    margin-top: -2rem;
    overflow: hidden;
    padding: 0;
    z-index: 1;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  &-content {
    box-sizing: border-box;
    color: $sb-dark-blue-75;
    font-size: $font-size-default;
    min-height: 3rem;
    padding: 0.5rem 0 2rem;
    width: 100%;
  }

  &-footer {
    align-items: center;
    background-color: $light-50;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: -3.5rem;
    margin-left: -3.5rem;
    min-height: 9.1rem;
    padding: 0 3.5rem;
    width: 100%;

    .sb-button:not(:first-child) {
      margin-left: 2rem;
    }
  }

  .sb-button:not(:first-child) {
    margin-left: 2rem;
  }

  &-header {
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 1rem;
    width: 100%;

    svg {
      display: block;
      margin: 0 auto;
      margin-bottom: 3rem;
    }

    &--left {
      display: inline-flex;
      line-height: 2;
      padding-top: 0;
      text-align: left;
      vertical-align: middle;

      svg {
        margin: 0;
        margin-right: 2.5rem;
      }
    }

    &__title {
      font-size: $text-header;
      font-weight: $font-weight-bold;
      text-align: center;
    }
  }

  &__full-width {
    max-width: 100%;
    min-width: 62rem;
  }

  &__type--buttons {
    display: flex;
    justify-content: center;
  }
}
