.sb-modal {
  animation: fadein 0.3s;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 2px 17px 3px rgba(34, 42, 69, 0.07);
  box-sizing: border-box;
  display: block;
  margin: auto;
  max-width: 620px;
  overflow: auto;
  padding: 35px;
  position: relative;
  width: 100%;

  &__close-button {
    @include base--icon-hover;

    background-color: $white;
    border: 0;
    cursor: pointer;
    position: relative;

    &--absolute {
      position: absolute;
      right: 14px;
      top: 14px;
      z-index: 1;
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  &-content {
    box-sizing: border-box;
    color: $sb-dark-blue-75;
    font-size: $font-size-default;
    min-height: 30px;
    padding: 5px 0 20px;
    width: 100%;
  }

  &-footer {
    align-items: center;
    background-color: $light-50;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: -35px;
    margin-left: -35px;
    min-height: 91px;
    padding: 0 35px;
    width: 100%;

    .sb-button:not(:first-child) {
      margin-left: 20px;
    }
  }

  .sb-button:not(:first-child) {
    margin-left: 20px;
  }

  &-header {
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 10px;
    width: 100%;

    > svg {
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    &--left {
      display: inline-flex;
      line-height: 2;
      padding-top: 0;
      text-align: left;
      vertical-align: middle;

      svg {
        margin: 0;
        margin-right: 25px;
      }
    }

    &__title {
      color: $sb-dark-blue;
      font-size: $text-header;
      font-weight: $font-weight-bold;
      text-align: center;
    }

    &__actions {
      align-items: center;
      display: flex;

      > * {
        margin-left: 10px;
      }

      :first-child {
        margin-left: 0;
      }

      .sb-modal__close-button {
        margin-left: 16px;
      }

      .sb-modal__close-button::before {
        background-color: $light;
        content: '';
        height: 24px;
        left: -8px;
        position: absolute;
        width: 1px;
      }
    }
  }

  &__full-width {
    max-width: 100%;
    min-width: 620px;
  }

  &__large {
    max-width: 720px;
  }

  &__type--buttons {
    display: flex;
    justify-content: center;
  }
}
