.sb-modal {
  width: 100%;
  max-width: 62rem;
  border-radius: 0.5rem;
  background-color: $white;
  box-shadow: 0 0.2rem 1.7rem 0.3rem $sb-dark-blue-25;
  display: block;
  margin: 0 auto;
  position: relative;
  padding: 3.5rem;
  box-sizing: border-box;
  animation: fadein .5s;

  &__close-button {
    float: right;
    z-index: 1;
    overflow: hidden;
    border: none;
    background-color: $white;
    cursor: pointer;
    padding: 0;
    margin-top: -2rem;
    margin-right: -2rem;
  }

  @keyframes fadein {
    from {
      opacity:0;
    }
    to {
      opacity:1;
    }
  }

  &-content {
    width: 100%;
    padding: 0.5rem 0 2rem 0;
    box-sizing: border-box;
    min-height: 3rem;
    font-size: $font-size-default;
    color: $sb-dark-blue-75;
  }

  &-footer {
    width: 100%;
    min-height: 9.1rem;
    background-color: $light-50;
    bottom: 0;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 3.5rem 0 3.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-bottom: -3.5rem;
    margin-left: -3.5rem;

    .sb-button:not(:first-child) {
      margin-left: 2rem;
    }
  }

  .sb-button:not(:first-child) {
    margin-left: 2rem;
  }

  &-header {
    width: 100%;
    margin: 0;
    padding-bottom: 1rem;
    box-sizing: border-box;

    svg {
      margin: 0 auto;
      display: block;
      margin-bottom: 3rem;
    }

    &--left {
      display: inline-flex;
      text-align: left;
      vertical-align: middle;
      line-height: 2;
      padding-top: 0;

      svg {
        margin: 0;
        margin-right: 2.5rem;
      }
    }

    &__title {
      font-size: $text-header;
      font-weight: $font-weight-bold;
      text-align: center;
    }
  }

  &__full-width {
    max-width: 100%;
    min-width: 62rem;
  }
}
