@mixin datepickerItem {
  color: $color-primary-dark;
  font-size: $font-14;
  border-bottom: $light-border;
  border-right: $light-border;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $sb-dark-blue-25;
  }

  &--current {
    background-color: $light-50;

    &:hover,
    &:focus {
      background-color: $sb-green-25;
    }
  }

  &--active {
    font-size: $font-18;
    font-weight: $font-medium;
    background-color: $sb-green-25;

    &:hover,
    &:focus {
      background-color: $sb-green-25;
    }
  }

  &--disabled {
    color: $sb-dark-blue-50;
    text-decoration: line-through;
    cursor: no-drop;

    &:hover,
    &:focus {
      background-color: $white;
    }
  }
}

.sb-datepicker {
  position: relative;

  &--active .sb-textfield__input,
  &--active .sb-textfield--inline-label .sb-textfield__inner {
    @include focusedTextField;
  }

  &__input {
    position: relative;

    .sb-textfield__icon {
      cursor: pointer;
    }
  }

  &__timezone {
    position: absolute;
    right: $s-7;
    top: 50%;
    color: $light-gray;
    font-size: $font-12;
    transform: translateY(-50%);
  }

  &__overlay {
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid $light;
    border-radius: $base-border-radius;
    box-shadow: $box-shadow-default;

    &.sb-popover {
      max-width: 294px;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px;
    background-color: $white;
    border-radius: 8px;
  }

  &__action-button {
    &:first-of-type {
      margin-right: 10px;
    }
  }
}
 
.sb-datepicker-header {
  z-index: 2;
  background-color: $light-50;

  &__top {
    display: flex;
    align-items: center;
  }

  &__title {
    flex: 1;
    margin: 0;
    padding: 15px 0;
    color: $color-primary-dark;
    font-size: $font-14;
    font-weight: $font-medium;
    text-align: center;

    span {
      cursor: pointer;
    }
  }

  &__button {
    padding: $s-2 14px;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }

  &__subtitle {
    display: block;
    margin: 0;
    padding-bottom: 10px;
    color: $sb-dark-blue-50;
    font-size: $font-14;
    text-align: center;
  }
}

.sb-datepicker-week {
  display: flex;
  padding-bottom: 10px;
  background-color: $light-50;

  span {
    flex: 1;
    color: $sb-dark-blue-50;
    font-size: $font-14;
    text-align: center;
  }
}

.sb-datepicker-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  box-sizing: border-box;
  width: 100%;
  background-color: $white;

  &__item {
    flex: 1;
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    padding: 13px 17px;

    @include flexCentering;
    @include datepickerItem;

    &--inactive {
      color: $sb-dark-blue-50;
    }
  }
}

.sb-datepicker-time {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
  background-color: $white;

  &__number-column {
    display: block;
    overflow-y: scroll;
    width: 50%;
    max-height: 295px;
    border-bottom: 1px solid $light;
  }

  &__number {
    box-sizing: border-box;
    height: 42px;
    padding: 10px;
    text-align: center;
    border-right: 0;
    cursor: pointer;

    @include flexCentering;
    @include datepickerItem;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  &__title {
    color: $color-primary-dark;
    font-size: $font-14;
    font-weight: $font-medium;
  }

  &__selection {
    display: flex;

    &-spacer {
      padding: 0 8px;
      font-size: $font-14;
      font-weight: $font-medium;
    }

    .sb-select {
      width: 100px;
    }

    .sb-select-list {
      width: 100px;
      min-width: 100px;

      .sb-select-list__item {
        padding: 7px 10px;
      }
    }
  }
}

.sb-datepicker-months {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  background: $white;

  &__item {
    box-sizing: border-box;
    width: 25%;
    padding: 13px 25px;
    text-align: center;

    @include flexCentering;
    @include datepickerItem;
  }
}

.sb-datepicker-years {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  box-sizing: border-box;
  width: 100%;
  max-height: 252px;
  background: $white;

  &__item {
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    text-align: center;

    @include flexCentering;
    @include datepickerItem;
  }
}
