@mixin datepickerItem {
  color: $color-primary-dark;
  font-size: $font-14;
  border-bottom: $light-border;
  border-right: $light-border;
  cursor: pointer;

  &:hover {
    background-color: $sb-dark-blue-25;
  }

  &--current {
    background-color: $light-50;

    &:hover {
      background-color: $sb-green-25;
    }
  }

  &--active {
    font-size: $font-19;
    font-weight: $font-weight-medium;
    background-color: $sb-green-25;

    &:hover {
      background-color: $sb-green-25;
    }
  }

  &--disabled {
    color: $sb-dark-blue-50;
    text-decoration: line-through;
    cursor: no-drop;

    &:hover {
      background-color: $white;
    }
  }
}

.sb-datepicker {
  position: relative;

  &--active .sb-textfield__input {
    @include focusedTextField;
  }

  &__input {
    position: relative;

    .sb-textfield__icon {
      cursor: pointer;
    }
  }

  &__timezone {
    position: absolute;
    right: 40px;
    top: 50%;
    color: $light-gray;
    font-size: $font-12;
    transform: translateY(-50%);
  }

  &__overlay {
    @include popoverComponent();

    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    max-width: 294px;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    background-color: $white;
  }

  &__action-button {
    padding: 15px 37.5px;
    color: $color-primary-dark;
    font-size: $font-14;
    font-weight: $font-weight-medium;
    background-color: $white;
    border: 0;
    appearance: none;

    &:hover {
      cursor: pointer;
    }

    &--primary {
      color: $white;
      background-color: $color-primary;
    }
  }

  .sb-textfield__icon--clearable {
    right: 40px;
  }

  .sb-textfield {
    padding-right: 70px;
  }
}

.sb-datepicker-header {
  z-index: 2;
  background-color: $light-50;

  &__top {
    display: flex;
    align-items: center;
  }

  &__title {
    flex: 1;
    margin: 0;
    padding: 15px 0;
    color: $color-primary-dark;
    font-size: $font-14;
    font-weight: $font-weight-medium;
    text-align: center;

    span {
      cursor: pointer;
    }
  }

  &__button {
    padding: 8px 14px;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }

  &__subtitle {
    display: block;
    margin: 0;
    padding-bottom: 10px;
    color: $sb-dark-blue-50;
    font-size: $font-14;
    text-align: center;
  }
}

.sb-datepicker-week {
  display: flex;
  padding-bottom: 10px;
  background-color: $light-50;

  span {
    flex: 1;
    color: $sb-dark-blue-50;
    font-size: $font-14;
    text-align: center;
  }
}

.sb-datepicker-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  box-sizing: border-box;
  width: 100%;
  background-color: $white;

  &__item {
    @include flexCentering();
    @include datepickerItem();

    flex: 1;
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    padding: 13px 17px;

    &--inactive {
      color: $sb-dark-blue-50;
    }
  }
}

.sb-datepicker-time {
  box-sizing: border-box;
  width: 100%;

  &__numbers-container {
    display: flex;
    background-color: $white;
  }

  &__number-column {
    display: block;
    overflow-y: scroll;
    width: 50%;
    max-height: 294px;
    border-bottom: 1px solid $light;
  }

  &__number {
    @include flexCentering();
    @include datepickerItem();

    box-sizing: border-box;
    height: 42px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
}

.sb-datepicker-months {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  background: $white;

  &__item {
    @include flexCentering();
    @include datepickerItem();

    box-sizing: border-box;
    width: 25%;
    padding: 13px 25px;
    text-align: center;
  }
}

.sb-datepicker-years {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  box-sizing: border-box;
  width: 100%;
  max-height: 252px;
  background: $white;

  &__item {
    @include flexCentering();
    @include datepickerItem();

    box-sizing: border-box;
    width: 100%;
    height: 42px;
    text-align: center;
  }
}
