@mixin datepickerItem {
  color: $dark-blue-950;
  font-size: $font-14;
  border-bottom: $gray-100-border;
  border-right: $gray-100-border;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $dark-blue-300;
  }

  &--current {
    background-color: $gray-100;

    &:hover,
    &:focus {
      background-color: $teal-400;
    }
  }

  &--active {
    font-size: $font-18;
    font-weight: $font-medium;
    background-color: $teal-400;

    &:hover,
    &:focus {
      background-color: $teal-400;
    }
  }

  &--disabled {
    color: $dark-blue-400;
    text-decoration: line-through;
    cursor: no-drop;

    &:hover,
    &:focus {
      background-color: $white;
    }
  }
}

.sb-datepicker {
  position: relative;

  &--active .sb-textfield__input,
  &--active .sb-textfield--inline-label .sb-textfield__inner {
    @include focusedTextField;
  }

  &__input {
    position: relative;

    .sb-textfield__icon {
      cursor: pointer;
    }
  }

  &__timezone {
    position: absolute;
    right: $s-7;
    top: 50%;
    color: $gray-400;
    font-size: $font-12;
    transform: translateY(-50%);
  }

  &__overlay {
    z-index: 1;
    box-sizing: border-box;
    width: 100%;

    @include popoverComponent;

    &.sb-popover {
      max-width: 294px;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    background-color: $white;
  }

  &__action-button {
    padding: 15px 37.5px;
    color: $dark-blue-950;
    font-size: $font-14;
    font-weight: $font-medium;
    background-color: $white;
    border: 0;
    appearance: none;

    &:hover,
    &:focus {
      cursor: pointer;
    }

    &--primary {
      color: $white;
      background-color: $color-primary;
    }
  }
}

.sb-datepicker-header {
  z-index: 2;
  background-color: $gray-100;

  &__top {
    display: flex;
    align-items: center;
  }

  &__title {
    flex: 1;
    margin: 0;
    padding: 15px 0;
    color: $dark-blue-950;
    font-size: $font-14;
    font-weight: $font-medium;
    text-align: center;

    span {
      cursor: pointer;
    }
  }

  &__button {
    padding: $s-2 14px;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }

  &__subtitle {
    display: block;
    margin: 0;
    padding-bottom: 10px;
    color: $dark-blue-400;
    font-size: $font-14;
    text-align: center;
  }
}

.sb-datepicker-week {
  display: flex;
  padding-bottom: 10px;
  background-color: $gray-100;

  span {
    flex: 1;
    color: $dark-blue-400;
    font-size: $font-14;
    text-align: center;
  }
}

.sb-datepicker-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  box-sizing: border-box;
  width: 100%;
  background-color: $white;

  &__item {
    flex: 1;
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    padding: 13px 17px;

    @include flexCentering;
    @include datepickerItem;

    &--inactive {
      color: $dark-blue-400;
    }
  }
}

.sb-datepicker-time {
  box-sizing: border-box;
  width: 100%;

  &__numbers-container {
    display: flex;
    background-color: $white;
  }

  &__number-column {
    display: block;
    overflow-y: scroll;
    width: 50%;
    max-height: 295px;
    border-bottom: 1px solid $gray-100;
  }

  &__number {
    box-sizing: border-box;
    height: 42px;
    padding: 10px;
    text-align: center;
    border-right: 0;
    cursor: pointer;

    @include flexCentering;
    @include datepickerItem;

    &:last-of-type {
      border-bottom: 0;
    }

    &:nth-child(4) {
      border-bottom: 1px solid $gray-100;
    }
  }
}

.sb-datepicker-months {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  background: $white;

  &__item {
    box-sizing: border-box;
    width: 25%;
    padding: 13px 25px;
    text-align: center;

    @include flexCentering;
    @include datepickerItem;
  }
}

.sb-datepicker-years {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  box-sizing: border-box;
  width: 100%;
  max-height: 252px;
  background: $white;

  &__item {
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    text-align: center;

    @include flexCentering;
    @include datepickerItem;
  }
}
