@mixin datepickerItem {
  color: $text-dark-blue;
  font-size: $font-14;
  border-bottom: $border-gray-light 1px solid;
  border-right: $border-gray-light 1px solid;
  cursor: pointer;

  &:hover,
  &:focus {
    background: $bg-gray-100;
  }

  &--current {
    background: $bg-gray-100;

    &:hover,
    &:focus {
      background: $bg-teal-light;
    }
  }

  &--active {
    font-size: $font-18;
    font-weight: $font-medium;
    background: $bg-teal-light;

    &:hover,
    &:focus {
      background: $bg-teal-light;
    }
  }

  &--disabled {
    color: $text-gray;
    text-decoration: line-through;
    cursor: no-drop;

    &:hover,
    &:focus {
      background: $bg-white;
    }
  }
}

.sb-datepicker {
  position: relative;

  &--active .sb-textfield__input,
  &--active .sb-textfield--inline-label .sb-textfield__inner {
    @include focusedTextField;
  }

  &__fake-input {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 45.5px;
    color: $dark-blue;
    font-size: $font-14;
    border: 1px solid $border-gray-light;
    border-radius: $base-border-radius;
    transition: $base-transition;

    &-text {
      padding: $s-2 $s-1;

      &:first-of-type {
        margin-left: 39px;
      }
    }

    &-separator {
      padding: 0 5px;
    }

    &-text--focus {
      background-color: $gray-50;
      border-radius: $s-1;
    }

    &-placeholder {
      color: $text-gray;
    }
  }

  &__input {
    position: relative;

    .sb-textfield__icon {
      cursor: pointer;
    }
  }

  &__timezone {
    position: absolute;
    right: $s-7;
    top: 50%;
    color: $text-gray;
    font-size: $font-14;
    pointer-events: none;
    transform: translateY(-50%);
  }

  &__overlay {
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    background-color: $bg-white;
    border: $base-border;
    border-radius: $base-border-radius;
    box-shadow: $box-shadow-default;

    &.sb-popover {
      max-width: 295px;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px;
    background-color: $bg-white;
    border-radius: 8px;
  }

  &__action-button {
    &:first-of-type {
      margin-right: 10px;
    }
  }
}

.sb-datepicker-header {
  z-index: 2;
  background: $bg-gray-50;
  border-radius: 8px 8px 0 0;

  &__top {
    display: flex;
    align-items: center;
  }

  &__title {
    flex: 1;
    margin: 0;
    padding: 20px 11px;
    color: $text-dark-blue;
    font-size: $font-14;
    font-weight: $font-medium;
    text-align: left;

    span {
      cursor: pointer;
    }
  }

  .sb-button--tertiary:focus {
    outline: unset;
  }

  .sb-button[disabled],
  .sb-button--has-icon {
    min-height: 26px;
    padding: 0;
    background-color: transparent;
    border: 0;

    &:last-of-type {
      margin: 0 5px;
    }

    .sb-icon {
      margin-right: 0;
    }
  }

  &__subtitle {
    display: block;
    margin: 0;
    padding-bottom: 10px;
    color: $text-gray;
    font-size: $font-14;
    text-align: center;
  }
}

.sb-datepicker-week {
  display: flex;
  padding-bottom: 10px;
  background: $bg-gray-50;

  span {
    flex: 1;
    color: $text-gray;
    font-size: $font-14;
    text-align: center;
  }
}

.sb-datepicker-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  box-sizing: border-box;
  width: 100%;
  background: $bg-white;

  &__item {
    flex: 1;
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    padding: 13px 17px;

    @include flexCentering;
    @include datepickerItem;

    &--inactive {
      color: $text-gray;
    }

    &--range {
      color: $text-teal;
      background-color: $bg-teal-light;
    }

    &--range-border {
      color: $text-white;
      background-color: $text-teal;
    }

    &--disabled {
      color: $text-gray;
      text-decoration: line-through;
      cursor: no-drop;
    }

    &:nth-child(7n) {
      width: 41px;
    }
  }
}

.sb-datepicker-time {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  background-color: $bg-white;
  border-radius: $base-border-radius;

  &__title {
    margin: 10px 0;
    color: $dark-blue-950;
    font-size: $font-14;
    font-weight: $font-medium;
  }

  &__selection {
    display: flex;

    &-spacer {
      margin: auto 8px !important; // Without the important the Prosemirror overwrite this inside richtext
      font-size: $font-14;
      font-weight: $font-medium;
    }

    .sb-select {
      width: 100px;
    }

    .sb-select-list {
      width: 100px;
      min-width: 100px;

      .sb-select-list__item {
        padding: 7px 10px;
      }
    }
  }
}

.sb-datepicker-months {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  background: $bg-white;

  &__item {
    box-sizing: border-box;
    width: 25%;
    padding: 13px 25px;
    text-align: center;

    @include flexCentering;
    @include datepickerItem;

    &:nth-child(4n) {
      border-right: none;
    }
  }
}

.sb-datepicker-years {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  box-sizing: border-box;
  width: 100%;
  max-height: 252px;
  background: $bg-white;

  &__item {
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    text-align: center;

    @include flexCentering;
    @include datepickerItem;
  }
}
