.sb-loading {
  
  &--progress-bar {
    width: 100%;
  }

  &--bar {
    border-radius: 0px;
    height: 5px;
    width: 100%;
  }

  &--bar::-webkit-progress-value {  
    background: $sb-green;
  }

  &--bar[value]::-webkit-progress-bar {
    background: $light;
  }

  &--bar-label {
    margin: auto;
    margin-top: 15px;
    width: 23px;
    display: block;
    font-size: $text-text-small;
  }

  &--spinner {
    svg {
      color: $sb-green;
    }
  }

  &--spinner-label {
    margin: auto;
    top: -60%;
    display: flex;
    position: relative;
    width: 18px;
    font-size: $text-text-small;
  }

  &--spinner-small {
    width: 26px;
    height: 26px;

    svg {
      width: 26px;
      height: 26px;
    }
  }

  &--spinner-normal {
    width: 32px;
    height: 32px;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  &--spinner-large {
    width: 46px;
    height: 46px;

    svg {
      width: 46px;
      height: 46px;
    }
  }

  &--spinner-x-large {
    width: 76px;
    height: 76px;

    svg {
      width: 76px;
      height: 76px;
    }
  }
}