.sb-loading {
  &__progress-bar {
    width: 100%;
  }

  &__bar {
    border: 0;
    height: 5px;
    width: 100%;
  }

  &__bar::-webkit-progress-value {
    background: $sb-green;
  }

  &__bar[value]::-webkit-progress-bar {
    background: $light;
  }

  &__bar::-moz-progress-bar {
    background: $sb-green;
  }

  &__bar::-ms-fill {
    background-color: $sb-green;
  }

  &__bar-label {
    display: block;
    font-size: $font-size-xs;
    font-weight: $font-weight-regular;
    margin: auto;
    margin-top: 15px;
    text-align: center;
  }

  &__spinner-label {
    display: block;
    font-size: $font-size-xs;
    font-weight: $font-weight-regular;
    margin: auto;
    position: relative;
    text-align: center;
    top: -60%;
    width: 30px;
  }

  &__spinner--small {
    height: 26px;
    width: 26px;

    .sb-loading__spinner-label {
      font-size: 0.7rem;
      top: -64%;
      width: 25px;
    }

    svg {
      height: 26px;
      width: 26px;
    }
  }

  &__spinner--normal {
    height: 32px;
    width: 32px;

    .sb-loading__spinner-label {
      font-size: 1rem;
      top: -70%;
    }

    svg {
      height: 32px;
      width: 32px;
    }
  }

  &__spinner--large {
    height: 46px;
    width: 46px;

    .sb-loading__spinner-label {
      top: -67%;
    }

    svg {
      height: 46px;
      width: 46px;
    }
  }

  &__spinner--x-large {
    height: 76px;
    width: 76px;

    svg {
      height: 76px;
      width: 76px;
    }
  }

  &__placeholder {
    animation: shimmer 2s infinite linear;
    background: $light-50;
    background: linear-gradient(to right, $light-50 4%, $light 25%, $light-50 36%);
    background-size: 1000px 100%;
    border-radius: 2px;
    margin: 0;
    padding: 0;

    @keyframes shimmer {
      from {
        background-position: -1000px 0;
      }

      to {
        background-position: 1000px 0;
      }
    }
  }
}

.sb-domains-app__right-container > .sb-block-ui > .sb-loading__spinner {
  left: calc(50% + 117px);
  position: absolute;
  top: calc(50% - 23px);
}
