.sb-loading {
  &__progress-bar {
    width: 100%;
  }

  &__bar {
    width: 100%;
    height: 5px;
    border: 0;
  }

  &__bar::-webkit-progress-value {
    background: $bg-teal;
  }

  &__bar[value]::-webkit-progress-bar {
    background: $bg-gray-100;
  }

  &__bar::-moz-progress-bar {
    background: $bg-teal;
  }

  &__bar::-ms-fill {
    background: $bg-teal;
  }

  &__bar-label {
    display: block;
    margin: auto;
    margin-top: 15px;
    font-size: $font-12;
    font-weight: $font-regular;
    text-align: center;
  }

  &__spinner-label {
    position: relative;
    top: -60%;
    display: block;
    width: 30px;
    margin: auto;
    font-size: $font-12;
    font-weight: $font-regular;
    text-align: center;
  }

  &__spinner--small {
    width: 26px;
    height: 26px;

    .sb-loading__spinner-label {
      top: -64%;
      width: 25px;
      font-size: 0.7rem;
    }

    svg {
      width: 26px;
      height: 26px;
    }
  }

  &__spinner--normal {
    width: $s-6;
    height: $s-6;

    .sb-loading__spinner-label {
      top: -70%;
      font-size: 1rem;
    }

    svg {
      width: $s-6;
      height: $s-6;
    }
  }

  &__spinner--large {
    width: 46px;
    height: 46px;

    .sb-loading__spinner-label {
      top: -67%;
    }

    svg {
      width: 46px;
      height: 46px;
    }
  }

  &__spinner--x-large {
    width: 76px;
    height: 76px;

    svg {
      width: 76px;
      height: 76px;
    }
  }

  &__placeholder {
    @keyframes shimmer {
      from {
        background-position: -1000px 0;
      }

      to {
        background-position: 1000px 0;
      }
    }

    margin: 0;
    padding: 0;
    background: $bg-gray-100;
   background: linear-gradient(to right, $bg-gray-100 4%, $bg-gray-100 25%, $bg-gray-100 36%);
    background-size: 1000px 100%;
    border-radius: $base-border-radius;
    animation: shimmer 2s infinite linear;
  }
}

.sb-domains-app__right-container > .sb-block-ui > .sb-loading__spinner {
  position: absolute;
  left: calc(50% + 117px);
  top: calc(50% - 23px);
}
