$checkbox-transition: 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms;

.sb-checkbox {
  position: relative;

  &--inline {
    position: relative;
    display: inline-block;
  }

  &--outline {
    width: fit-content;
    padding: 15px 20px;
    background: $bg-white;
    border: 1px solid #eff1f5;
    border-radius: $base-border-radius;
  }

  &--no-update {
    pointer-events: none;
  }

  &__inner {
    position: relative;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 50%;
    width: 14px;
    height: 14px;
    background: $bg-white;
    border: 1px solid $border-gray-light;
    border-radius: 3px;
    cursor: pointer;
    transform: translateY(-50%);
    transition:
      background,
      border $checkbox-transition;
  }

  &__svg {
    position: absolute;
    width: 100%;
    height: 100%;
    color: $text-white;
    inset: 0;
  }

  &__indeterminate {
    transform: rotate(-280deg) scale(0);
    transform-origin: 50% 50%;
    fill: $bg-white;
  }

  &__label {
    position: relative;
    display: inline-block;
    min-height: $s-4;
    padding-left: 28px;
    color: $text-dark-blue;
    font-size: $font-14;
    line-height: normal;
  }
}

.sb-checkbox__native {
  position: absolute;
  width: 1em;
  height: 1em;
  opacity: 0;

  &:focus,
  &:hover {
    &:not([disabled]) + .sb-checkbox__input {
      box-shadow: 0 0 0 2px rgb(217 244 243 / 100%);
    }
  }

  &:checked {
    + .sb-checkbox__input {
      background: $bg-teal;
      border: 1px solid $border-teal;

      .sb-checkbox__truthy {
        fill: $bg-white;
      }
    }

    &[disabled] {
      + .sb-checkbox__input .sb-checkbox__truthy {
        fill: $bg-gray;
      }
    }
  }

  &:not(:checked) {
    + .sb-checkbox__input {
      background: $bg-white;
      border: 1px solid $border-gray-light;
    }
  }

  &:indeterminate {
    + .sb-checkbox__input {
      background: $bg-teal;
      border: 1px solid $border-teal;

      .sb-checkbox__indeterminate {
        transform: rotate(0) scale(1);
        transition: transform $checkbox-transition;
      }
    }

    &[disabled] {
      + .sb-checkbox__input .sb-checkbox__indeterminate {
        fill: $bg-gray;
      }
    }
  }

  &[disabled] {
    + .sb-checkbox__input {
      background-color: $bg-gray-50;
      border: 1px solid $border-gray-light;
    }

    + .sb-checkbox__input + .sb-checkbox__label {
      cursor: not-allowed;
    }
  }
}
