$checkbox-transition: 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms;

.sb-checkbox {
  &--inline {
    display: inline-block;
    position: relative;
  }

  &--outline {
    background-color: $white;
    border: 1px solid #eff1f5;
    border-radius: 5px;
    padding: 15px 20px;
    width: fit-content;
  }

  &__inner {
    position: relative;
  }

  &__input {
    background-color: $color-white;
    border: 1px solid $light;
    border-radius: 3px;
    cursor: pointer;
    height: 14px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background, border $checkbox-transition;
    width: 14px;
  }

  &__svg {
    bottom: 0;
    color: $color-white;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  &__indeterminate {
    fill: $color-white;
    transform: rotate(-280deg) scale(0);
    transform-origin: 50% 50%;
  }

  &__label {
    color: $sb-dark-blue;
    display: inline-block;
    font-size: $font-size-md;
    line-height: normal;
    min-height: 16px;
    padding-left: 28px;
    position: relative;
  }
}

.sb-checkbox__native {
  @include screenReaderOnly();

  &:focus,
  &:hover {
    &:not([disabled]) + .sb-checkbox__input {
      box-shadow: 0 0 0 2px rgba(217, 244, 243, 1);
    }
  }

  &:checked {
    + .sb-checkbox__input {
      background-color: $sb-green;
      border: 1px solid $sb-green;

      .sb-checkbox__truthy {
        fill: $color-white;
      }
    }

    &[disabled] {
      + .sb-checkbox__input .sb-checkbox__truthy {
        fill: $light-gray;
      }
    }
  }

  &:not(:checked) {
    + .sb-checkbox__input {
      background-color: $white;
      border: 1px solid $light;
    }
  }

  &:indeterminate {
    + .sb-checkbox__input {
      background-color: $sb-green;
      border: 1px solid $sb-green;

      .sb-checkbox__indeterminate {
        transform: rotate(0) scale(1);
        transition: transform $checkbox-transition;
      }
    }

    &[disabled] {
      + .sb-checkbox__input .sb-checkbox__indeterminate {
        fill: $light-gray;
      }
    }
  }

  &[disabled] {
    + .sb-checkbox__input {
      background-color: #f5f5f5;
      border: 1px solid $light;
    }

    + .sb-checkbox__input + .sb-checkbox__label {
      cursor: not-allowed;
    }
  }
}
