$checkbox-transition: .2s cubic-bezier(0,0,.2,1) 0ms;

.sb-checkbox {

  &--inline {
    position: relative;
    display: inline-block;
  }

  &--outline {
    border-radius: 0.5rem;
    border: solid 0.1rem #eff1f5;
    background-color: $white;
    width: fit-content;
    padding: 1.5rem 2rem;
  }

  &__inner {
    position: relative;
  }

  &__native {
    @include screenReaderOnly();

    &:focus, &:hover {
      &:not([disabled]) {
        & + .sb-checkbox__input {
          box-shadow: 0rem 0rem 0rem 0.2rem rgba(217, 244, 243, 1);
        }
      }
    }
    
    &:checked {
      & + .sb-checkbox__input {
        border: solid 0.1rem $sb-green;
        background-color: $sb-green;
        
        .sb-checkbox__truthy {
          stroke-dashoffset: 0;
          transition: stroke-dashoffset .2s cubic-bezier(.4,0,.6,1) 0ms;
        }
      }

      &[disabled] {
        & + .sb-checkbox__input .sb-checkbox__truthy {
          stroke: #b1b5be;
        }
      }
    }

    &:not(:checked) {
      & + .sb-checkbox__input {
        border: solid 0.1rem $light;
        background-color: $white;
      }
    }
    
    &:indeterminate {
      & + .sb-checkbox__input {
        border: solid 0.1rem $sb-green;
        background-color: $sb-green;
        
        .sb-checkbox__indet {
          transform: rotate(0) scale(1);
          transition: transform $checkbox-transition;
        }
      }

      &[disabled] {
        & + .sb-checkbox__input .sb-checkbox__indet {
          fill: #b1b5be;
        }
      }
    }

    &[disabled] {
      & + .sb-checkbox__input {
        border: solid 0.1rem $light;
        background-color: #f5f5f5;
      }

      & + .sb-checkbox__input + .sb-checkbox__label {
        cursor: not-allowed;
      }
    }
  }

  &__input {
    cursor: pointer;
    background-color: $color-white;
    border: 1px solid $light;
    border-radius: 3px;
    transition: background, border $checkbox-transition;
    position: absolute;
    border-radius: 0.3rem;
    left: 0;
    top: 0;
    width: 1.4rem;
    height: 1.4rem;
  }

  &__svg {
    color: $color-white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &__truthy {
    stroke: $color-white;
    stroke-width: 3.12px;
    stroke-dashoffset: 29.78334;
    stroke-dasharray: 29.78334;
  }

  &__indet {
    fill: $color-white;
    transform-origin: 50% 50%;
    transform: rotate(-280deg) scale(0);
  }

  &__label {
    position: relative;
    padding-left: 2.8rem;
    display: inline-block;
    font-size: $font-size-md;
    line-height: normal;
    color: $sb-dark-blue;
    min-height: 1.6rem;
  }
}
