.sb-color-pallete {
  margin-bottom: 20px;

  &__title {
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 500;
  }
}

.sb-colors {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: 0 0 4px;
  padding: 0;
}

.sb-colors--container {
  display: inline-grid;
  width: 120px;
  height: 150px;
  margin-bottom: 20px;
  color: $gray-400;
  font-size: $font-14;
}
