@mixin activeItemState () {
  background-color: #262e48;
  color: $color-primary;

  &::after {
    opacity: 1;
  }
}

.sb-sidebar {
  display: inline-flex;
  background-color: $color-primary-dark;
  min-height: 100vh;
  flex-direction: column;

  &__top {
    display: flex;
    padding: 30px;

    .sb-avatar {
      display: block;
      margin-left: 30px;
    }
  }

  &__logo {
    height: 33px;

    img {
      width: 100%;
    }
  }

  &-list {
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &-item {
    list-style: none;
  }

  &-link  {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    color: $white;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.1s ease-in;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: $color-primary;
      opacity: 0;
      transition: all 0.1s ease-in;
    }

    &:hover {
      @include activeItemState();
    }

    .sb-icon {
      margin-right: 14px;
    }

    &--active {
      @include activeItemState();
    }
  }

  // modifiers
  &--minimize {
    max-width: 90px;

    .sb-icon {
      margin: 0;
    }
  }

  &--minimize &__top {
    flex-direction: column;

    .sb-avatar {
      margin: 30px 0 0;
    }
  }

  &--minimize &-link {
    justify-content: center;

    &__label {
      display: none;
    }
  }
}
