@mixin activeItemState () {
  background-color: #262e48;
  color: $white;

  &::after {
    opacity: 1;
  }
}

.sb-sidebar {
  box-sizing: border-box;

  // sidebar bottom
  &__bottom {
    margin-bottom: 15px;
    position: relative;

    .sb-button {
      min-height: auto;
      opacity: 0;
      padding: 0;
      position: absolute;
      right: -13px;
      top: -26px;

      &:focus {
        opacity: 1;
      }
    }
  }

  &__content {
    background-color: $color-primary-dark;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    min-height: 100vh;
    width: 280px;

    &:hover .sb-button {
      opacity: 1;
    }
  }

  // sidebar top
  &__top {
    display: flex;
    padding: 28px;

    .sb-avatar {
      cursor: pointer;
      display: block;
      margin-left: 30px;
    }
  }

  &-logo {
    color: $white;
    height: 26px;

    img {
      width: 100%;
    }

    &--white {
      color: $white;
    }

    &--dark {
      color: $color-primary-dark;
    }
  }

  // sidebar list
  &-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
  }

  &-item {
    list-style: none;
    margin-bottom: 1px;
    padding: 0 16px;
  }

  &-link {
    align-items: center;
    border-radius: 8px;
    color: $light-gray;
    cursor: pointer;
    display: flex;
    font-size: $font-size-md;
    font-weight: $font-weight-medium;
    letter-spacing: 0;
    line-height: inherit;
    padding: 12px;
    position: relative;
    text-decoration: none;
    vertical-align: middle;

    &:hover,
    &:focus {
      @include activeItemState();
    }

    .sb-icon {
      margin-right: 12px;
    }

    .sb-avatar {
      margin-right: 10px;
    }

    &--active {
      @include activeItemState();
    }

    &--use-avatar {
      padding: 9px 17px 9px 9px;
    }
  }

  // modifiers
  &--minimize {
    .sb-sidebar__content {
      width: 80px;
    }

    .sb-icon,
    .sb-avatar {
      margin: 0;
    }

    .sb-sidebar-link--use-avatar {
      padding: 9px 15px 9px 17px;
    }

    .sb-sidebar-toggle .sb-button {
      background-color: $light-75;
      color: $color-primary-dark;
      opacity: 1;

      &:hover {
        background-color: $light-75;
      }

      &:focus {
        outline: 3px solid $light-25;
      }
    }
  }

  &--minimize &__top {
    flex-direction: column;

    .sb-avatar {
      margin: 30px 0 0;
    }
  }

  &--minimize &-link {
    justify-content: center;

    &__label {
      display: none;
    }
  }

  // mobile elements
  &__mobile-header {
    align-items: center;
    background-color: $white;
    border-bottom: 1px solid $light;
    box-sizing: border-box;
    display: none;
    padding: 10px 20px;
    width: 100%;

    button {
      appearance: none;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      padding: 0;
    }
  }

  &__mobile-header-menu-icon {
    border-right: 1px solid $light;
    margin-right: 20px;
    padding: 10px 20px 10px 0;
  }

  &__mobile-logo {
    flex: 1;
  }
}

@media screen and (max-width: $tablets-landscape - 1) {
  .sb-sidebar__mobile-header {
    display: flex;
  }

  .sb-sidebar__content {
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-110%);
    z-index: 4;
  }

  .sb-sidebar--active .sb-sidebar__content {
    transform: translateX(0);
  }

  .sb-sidebar-toggle {
    display: none;

    .sb-button {
      margin: -1px 0 0 -1px;
    }
  }
}
