@mixin activeItemState () {
  background-color: #262e48;
  color: $white;

  &::after {
    opacity: 1;
  }
}

.sb-sidebar {
  box-sizing: border-box;

  // sidebar bottom
  &__bottom {
    position: relative;

    .sb-button {
      opacity: 0;
      padding: 0.5rem;
      position: absolute;
      right: -13px;
      top: -26px;
      transition: opacity 0.2s ease-in;

      &:focus {
        opacity: 1;
      }
    }
  }

  &__content {
    background-color: $color-primary-dark;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    min-height: 100vh;
    transition: all 0.2s ease;
    width: 28rem;

    &:hover .sb-button {
      opacity: 1;
    }
  }

  // sidebar top
  &__top {
    display: flex;
    padding: 3rem;

    .sb-avatar {
      cursor: pointer;
      display: block;
      margin-left: 3rem;
    }
  }

  &-logo {
    color: $white;
    height: 33px;

    img {
      width: 100%;
    }

    &--white {
      color: $white;
    }

    &--dark {
      color: $color-primary-dark;
    }
  }

  // sidebar list
  &-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
  }

  &-item {
    list-style: none;
    padding: 0 15px;
  }

  &-link {
    align-items: center;
    border-radius: 1rem;
    color: $light;
    cursor: pointer;
    display: flex;
    font-size: $font-size-lg;
    font-weight: $font-weight-medium;
    letter-spacing: 0;
    padding: 17px;
    position: relative;
    text-decoration: none;
    transition: all 0.1s ease-in;
    vertical-align: middle;

    &:hover,
    &:focus {
      @include activeItemState();
    }

    .sb-icon {
      margin-right: 1.8rem;
    }

    .sb-avatar {
      margin-right: 8px;
    }

    &--active {
      @include activeItemState();
    }

    &--use-avatar {
      padding-left: 1.4rem;
    }
  }

  // modifiers
  &--minimize {
    .sb-sidebar__content {
      width: 9rem;
    }

    .sb-icon,
    .sb-avatar {
      margin: 0;
    }

    .sb-sidebar-link--use-avatar {
      padding: 2rem;
    }

    .sb-sidebar-toggle .sb-button {
      background-color: $light-75;
      color: $color-primary-dark;
      opacity: 1;

      &:hover {
        background-color: $light-75;
      }

      &:focus {
        outline: 3px solid $light-25;
      }
    }
  }

  &--minimize &__top {
    flex-direction: column;

    .sb-avatar {
      margin: 3rem 0 0;
    }
  }

  &--minimize &-link {
    justify-content: center;

    &__label {
      display: none;
    }
  }

  // mobile elements
  &__mobile-header {
    align-items: center;
    background-color: $white;
    border-bottom: 1px solid $light;
    box-sizing: border-box;
    display: none;
    padding: 1rem 2rem;
    width: 100%;

    button {
      appearance: none;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      padding: 0;
    }
  }

  &__mobile-header-menu-icon {
    border-right: 1px solid $light;
    margin-right: 2rem;
    padding: 1rem 2rem 1rem 0;
  }

  &__mobile-logo {
    flex: 1;
  }
}

@media screen and (max-width: 576px) {
  .sb-sidebar__mobile-header {
    display: flex;
  }

  .sb-sidebar__content {
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-110%);
    z-index: 4;
  }

  .sb-sidebar--active .sb-sidebar__content {
    transform: translateX(0);
  }

  .sb-sidebar-toggle {
    display: none;
  }
}
