@mixin activeItemState() {
  color: $text-white;
  background-color: $bg-dark-blue-hover;

  &::after {
    opacity: 1;
  }
}

.sb-sidebar {
  box-sizing: border-box;

  &:not(&--minimize) &__top {
    width: 125px;
  }
}

.sb-sidebar__bottom {
  position: relative;
  margin-bottom: 15px;
  margin-top: auto;

  .sb-button {
    position: absolute;
    right: -13px;
    top: $s-6;
    min-height: auto;
    padding: 0;
    opacity: 0;

    &:focus {
      opacity: 1;
    }
  }
}

.sb-sidebar__content {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 280px;
  height: 100vh;
  max-width: 280px;
  background: $bg-dark-blue;
  transition: max-width 0.2s ease;

  &:hover .sb-button,
  &:focus .sb-button {
    opacity: 1;
  }
}

.sb-sidebar__top {
  display: flex;
  padding: 18px 28px;

  .sb-avatar {
    display: block;
    margin-left: 30px;
    cursor: pointer;
  }

  .sb-custom-logo {
    object-fit: contain;
    width: 100%;
  }
}

.sb-sidebar-logo {
  height: 26px;
  color: $text-white;

  img {
    width: 100%;
  }

  &--white {
    color: $text-white;
  }

  &--dark {
    color: $text-dark-blue;
  }
}

.sb-sidebar-list {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
  margin: 0;
  padding: 0;

  &:hover,
  &:focus {
    overflow-y: auto;

    .sb-sidebar-list__fade {
      opacity: 0;
    }
  }
}

.sb-sidebar-list__container {
  overflow: hidden auto;
}

.sb-sidebar-list__fade {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 40%;
  max-height: 200px;
  background: linear-gradient(transparent 0%, rgba($dark-blue-950, 1) 100%);
  pointer-events: none;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.sb-sidebar-item {
  position: relative;
  margin-bottom: 1px;
  padding: 0 $s-4;
  white-space: nowrap;
  list-style: none;

  svg {
    min-width: $s-5;
  }

  .sb-icon__right {
    pointer-events: none;
  }
}

.sb-sidebar-item--parent {
  margin: 0 $s-4 1px;
  padding: 0;
  background-color: $bg-dark-blue-hover;
  border-radius: $s-2;

  > :last-child {
    padding-bottom: $s-3;
  }
}

.sb-sidebar-item--parent:hover,
.sb-sidebar-item--parent:focus {
  > .sb-sidebar-link {
    background-color: transparent;
  }
}

.sb-sidebar-item--child {
  margin: 1px 0 0;

  &:first-of-type {
    padding-left: 37px;
  }

  &.sb-sidebar-item--active {
    .sb-sidebar-link {
      background-color: $bg-dark-blue;
    }
  }

  .sb-sidebar-link {
    &:hover,
    &:focus {
      background-color: $bg-dark-blue;
    }
  }
}

.sb-sidebar-link {
  position: relative;
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding: $s-3;
  color: $text-gray-light;
  font-size: $font-14;
  font-weight: $font-medium;
  letter-spacing: 0;
  line-height: inherit;
  text-decoration: none;
  border-radius: $s-2;
  cursor: pointer;

  &:hover,
  &:focus {
    @include activeItemState;
  }

  .sb-icon,
  .sb-sidebar-sidebar-icon {
    margin-right: $s-3;
  }

  .sb-icon__right {
    position: absolute;
    right: 0;
    opacity: 1;
    transition: all 0.2s ease;
  }

  .sb-separator {
    width: 1px;
    height: $s-5;
    margin: 0 7px 0 -8px;
    background-color: $bg-dark-blue-hover;
  }

  .sb-sidebar-link__label {
    overflow: hidden;
    min-height: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .sb-avatar {
    margin-right: 10px;
  }

  &--active {
    @include activeItemState;
  }

  &--use-avatar {
    padding: 9px 17px 9px 9px;
  }
}

.sb-sidebar-link-inner {
  display: flex;
  align-items: center;
  max-width: 100%;
}

// modifiers

.sb-sidebar--minimize {
  .sb-sidebar__content {
    max-width: 80px;
  }

  .sb-icon,
  .sb-avatar {
    margin: 0;
  }

  .sb-sidebar-link--use-avatar {
    padding: 9px 15px 9px 17px;

    .sb-avatar {
      position: relative;
      left: -8px;
    }
  }

  .sb-sidebar-toggle .sb-button {
    color: $text-dark-blue;
    background: $bg-gray-100;
    opacity: 1;

    &:hover {
      background: $bg-gray-100;
    }

    &:focus {
      outline: 3px solid $gray-50;
    }
  }

  .sb-menu-list {
    min-width: 200px;
    margin: 0 $s-4;
  }

  .sb-icon__right {
    opacity: 0;
  }
}

.sb-sidebar-toggle {
  position: absolute;
  bottom: 100px;
  right: 0;
}

.sb-sidebar--minimize .sb-sidebar__top {
  flex-direction: column;

  .sb-avatar {
    margin: 30px 0 0;
  }
}

.sb-sidebar--minimize .sb-sidebar-link__label {
  display: none;
}

// mobile elements
.sb-sidebar__mobile-header {
  display: none;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  background: $bg-white;
  border-bottom: 1px solid $gray-100;

  button {
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    appearance: none;
  }
}

.sb-sidebar__mobile-header-menu-icon {
  margin-right: 20px;
  padding: 10px 20px 10px 0;
  border-right: 1px solid $gray-100;
}

.sb-sidebar__mobile-logo {
  flex: 1;
}
