.sb-textfield {
  width: 100%;
  padding-bottom: 10px;

  &--error {
    &.sb-textfield--inline-label .sb-textfield__inner {
      border: 1px solid $red;

      &:hover,
      &:focus,
      &:focus-within {
        border-color: $red;
      }

      &:focus-within {
        box-shadow: 0 0 0 3px rgb(255 179 176 / 30%);
      }
    }
  }

  &--inline-label {
    .sb-textfield__inner {
      align-items: stretch;
      box-sizing: border-box;
      background: $white;
      border: 1px solid $light;
      border-radius: $base-border-radius;

      &:hover,
      &:focus {
        border-color: $sb-green;
      }

      &:focus-within {
        @include focusedTextField;
      }
    }

    .sb-textfield__inner-label {
      padding-left: 10px;
      padding-right: $s-1;
      font-size: $font-14;
      font-weight: $font-medium;

      @include flexCentering;
    }

    .sb-textfield__input {
      padding-left: 0;
      border: 0 !important;
      box-shadow: none !important;

      &--with-icon-left {
        padding-left: $s-5;
      }
    }

    .sb-textfield__icon--left {
      left: 0;
      padding: 0;
    }
  }

  &__label {
    display: block;
    margin-bottom: 10px;
    color: $sb-dark-blue;
    font-size: $font-14;
    font-weight: $font-medium;
    letter-spacing: 0;
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:hover,
    &:focus {
      color: $sb-dark-blue-50;
    }

    &--left {
      left: 14px;
    }

    &--right {
      right: 14px;
    }

    &--pointer {
      cursor: pointer;
    }
  }

  &__inner {
    position: relative;
    display: inline-flex;
    width: 100%;
  }

  &__inner-field {
    position: relative;
    width: 100%;
  }

  &__textarea {
    box-sizing: border-box;
    min-height: 130px;
    padding: 15px 17px;
    line-height: 25px;
    resize: vertical;
  }

  &__input {
    padding: 13.5px 17px;
  }

  &__input,
  &__textarea {
    box-sizing: border-box;
    width: 100%;
    color: $sb-dark-blue;
    font-size: $font-14;
    border-radius: $base-border-radius;
    transition: $base-transition;

    &--disabled {
      background: $light-25;
      border: 1px solid $light !important;
      cursor: not-allowed;
    }

    &::placeholder {
      color: $sb-dark-blue-50;
      font-size: $font-14;
      font-weight: normal;
      letter-spacing: 0;
    }

    &--default {
      border: 1px solid $light;

      &:hover {
        border-color: $sb-green;
      }

      &:focus {
        @include focusedTextField;
      }
    }

    &--with-icon {
      &-left {
        padding-left: 42px;
      }

      &-right {
        padding-right: 42px;
      }
    }

    &--with-prefix {
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;
    }

    &--with-suffix {
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }

    &--ghost {
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid $light;

      &:focus {
        outline: none;
      }
    }

    &--ghost-light {
      position: relative;
      display: block;
      padding: 13px 0 13px $s-6;
      font-size: $font-13;
      background-color: $light-25;
      border: 1px solid transparent;
      border-radius: $base-border-radius;

      &:hover {
        border-color: $sb-green;
      }

      &:focus {
        border-radius: $base-border-radius;
        border-color: $sb-green;
        box-shadow: 0 0 0 3px $sb-green-25;
        outline: none;
      }
    }

    &--error {
      border: 1px solid $red !important;

      &:focus {
        box-shadow: 0 0 0 3px rgb(255 179 176 / 30%);
        outline: none;
      }
    }
  }

  &__prefix,
  &__suffix {
    min-width: stretch;
    min-width: fit-content;
    padding: 15px 17px;
    color: $sb-dark-blue;
    font-size: $font-14;
    font-weight: normal;
    letter-spacing: 0;
    background-color: $white;
    border: 1px solid $light;
    border-radius: $base-border-radius;
  }

  &__suffix {
    border-bottom-left-radius: 0;
    border-left: 0;
    border-top-left-radius: 0;
  }

  &__prefix {
    border-bottom-right-radius: 0;
    border-right: 0;
    border-top-right-radius: 0;
  }

  &__message {
    display: block;
    margin-top: 5px;
    font-size: $font-14;
    font-weight: normal;
    letter-spacing: 0;

    &--error {
      color: $red;
    }
  }

  &__counter {
    display: block;
    margin-top: 5px;
    color: $orange;
    font-size: $font-14;
    font-weight: $font-regular;
    letter-spacing: 0;
  }

  &__required {
    color: $red;
  }
}

@supports (-moz-appearance:none) {
  .sb-textfield {
    &__input {
      padding-bottom: 13px;
      padding-top: 13px;
    }
  }
}
