@import '../src/assets/styles/helper-classes';

body {
  margin: 20px;
}

hr {
  height: 1px;
  background: #ebecee;
  border: 0;
}

pre {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 330px;
  padding: $s-3;
  color: $text-white;
  font-size: 1.2rem;
  background: $bg-dark-blue;
  border-radius: $base-border-radius;
}

code {
  margin: 0;
  line-height: 1.45;
}

.medium {
  min-height: 300px;
}

.large {
  min-height: 450px;
}

.mw-300 {
  max-width: 300px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.helper-square {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  padding: $s-2;
  border-radius: $base-border-radius;
}

.list-none {
  list-style: none;
}

.w-auto {
  width: auto;
}

.align-self-center {
  align-self: center !important;
}

.sb-show-main.sb-main-centered #storybook-root,
.sb-story {
  width: 100%;
}

#story--interface-sbuploaddialog--default--primary .sb-block-ui {
  position: static;
}
