.sb-avatar {
  display: inline-block;

  // types of avatar
  &__image,
  &__initials {
    width: $sb-avatar-normal;
    height: $sb-avatar-normal;

    @include avatarComponent();
  }

  // image
  img {
    vertical-align: middle;
    border-radius: 100%;
  }

  img,
  svg {
    width: $sb-avatar-normal;
    height: $sb-avatar-normal;
  }

  // initials
  &__initials {
    color: $white;
    font-size: $font-12;
    font-weight: $font-medium;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
  }

  // text (on the left)
  &__text-container {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }

  &__text {
    display: block;
    color: $primary-text-color;
    font-size: $font-13;
    font-weight: $font-medium;
  }

  &__description {
    display: block;
    color: $light-gray;
    font-size: $font-12;
    font-weight: $font-regular;
  }

  // sizes
  &--small {
    .sb-avatar__image,
    .sb-avatar__initials,
    img,
    svg {
      width: $sb-avatar-small;
      height: $sb-avatar-small;
    }
  }

  &--large {
    .sb-avatar__image,
    .sb-avatar__initials,
    .sb-icon--custom.sb-icon--large,
    img,
    svg {
      width: $sb-avatar-large;
      height: $sb-avatar-large;
    }
  }

  .sb-badge {
    position: absolute;
    left: 30px;
    top: 5px;
    border: 1px solid $white;
  }
}
