.sb-breadcrumbs {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &__item {
    color: $primary-text-color;
    // position: relative;
    display: inline-flex;
    font-size: $font-size-sm;

    &--active {
      color: $color-primary-dark;
    }

    a {
      color: $primary-text-color;
      cursor: pointer;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &__separator {
    cursor: pointer;
    display: inline-flex;
    list-style: none;
    transition: 0.1s ease-in-out;

    &--active {
      background-color: $light-50;
      transform: rotate(90deg);
    }
  }

  &__dropdown {
    @include generalBoxShadow();

    display: block;
    left: 0;
    margin: 0;
    padding: 9px 0;
    position: absolute;
    top: calc(100% + 10px);

    .sb-breadcrumbs__item {
      display: block;
      font-size: $font-size-md;
      text-decoration: none;
    }

    .sb-breadcrumbs__item a {
      display: block;
      padding: 6px 15px;
      text-decoration: none;

      &:hover {
        background-color: $light-50;
      }
    }

    .sb-breadcrumbs__item:last-child {
      margin-bottom: 0;
    }
  }

  & > &__item,
  & > &__separator {
    margin-right: 5px;
  }

  & > &__item:last-child {
    margin-right: 0;
  }

  &--large-section {
    top: -6px;

    > .sb-breadcrumbs__item:last-child {
      color: $primary-text-color;
      font-size: $text-header;
      font-weight: $font-weight-bold;
      margin-top: 12px;
      width: 100%;

      a {
        cursor: text;
        text-decoration: none;
      }
    }

    > .sb-breadcrumbs__item:not(:last-child),
    .sb-breadcrumbs__separator {
      height: 19px;
      line-height: 19px;

      svg {
        height: 100%;
        transform: scale(125%);
      }
    }
  }
}
