.sb-breadcrumbs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  & > &__item {
    margin-right: 5px;
  }

  & > &__item:last-child {
    margin-right: 0;
  }

  &--large-section {
    top: -6px;

    > .sb-breadcrumbs__item:last-child {
      width: 100%;
      margin-top: 12px;
      color: $primary-text-color;
      font-size: $font-26;
      font-weight: $font-bold;

      a {
        text-decoration: none;
        cursor: text;
      }
    }

    > .sb-breadcrumbs__item:not(:last-child),
    .sb-breadcrumbs__separator {
      height: 19px;
      line-height: 19px;

      svg {
        height: 100%;
        transform: scale(125%);
      }
    }
  }
}

.sb-breadcrumbs__dropdown {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  display: block;
  margin: 0;
  padding: 9px 0;

  @include generalBoxShadow();

  .sb-breadcrumbs__item {
    display: block;
    font-size: $font-14;
    text-decoration: none;
  }

  .sb-breadcrumbs__item a {
    display: block;
    padding: 6px 15px;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: $light-50;
    }
  }

  .sb-breadcrumbs__item:last-child {
    margin-bottom: 0;
  }
}

.sb-breadcrumbs__item {
  display: inline-flex;
  color: $primary-text-color;
  font-size: $font-13;
  line-height: 2;

  &--active {
    color: $color-primary-dark;
  }

  a {
    color: $primary-text-color;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

.sb-breadcrumbs__separator {
  display: inline-flex;
  margin-right: 5px;
  cursor: pointer;
  list-style: none;
  transition: 0.1s ease-in-out;

  &--active {
    background-color: $light-50;
    transform: rotate(90deg);
  }
}
