.sb-breadcrumbs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__item {
    // position: relative;
    display: inline-flex;
    font-size: 13px;
    color: $primary-text-color;
  
    &--active {
      color: $dark-light;
    }

    a {
      text-decoration: none;
      color: $primary-text-color;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  &__separator {
    display: inline-flex;
    list-style: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;

    &--active {
      transform: rotate(90deg);
    }
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 10px);
    margin: 0;
    left: 0;
    display: block;
    padding: 20px;
    @include generalBoxShadow();

    .sb-breadcrumbs__item {
      display: block;
      font-size: 14px;
      margin-bottom: 16px;
    }

    .sb-breadcrumbs__item:last-child {
      margin-bottom: 0;
    }
  }

  & > &__item,
  & > &__separator {
    margin-right: 10px;
  }

  & > &__item:last-child {
    margin-right: 0;
  }

  &--large-section {
    > .sb-breadcrumbs__item:last-child {
      width: 100%;
      margin-top: 15px;
      font-weight: bold;
      font-size: 25px;
      color: $primary-text-color;
    }
  }
}
