@mixin tooltip($position) {
  &--#{$position} {
    @if ($position == 'top') {
      .sb-tooltip__label {
        bottom: 125%;
        left: 50%;
        transform: translateX(-50%);
        
        &::after {
            top: 100%;
            left: 50%;
            margin-left: -0.5rem;
        }
      }
    }

    @if ($position == 'bottom') {
      .sb-tooltip__label {
        top: 125%;
        left: 50%;
        transform: translateX(-50%);
        
        &::after {
          bottom: 100%;
          left: 50%;
          margin-left: -0.5rem;
          transform: rotate(180deg);
        }
      }
    }

    @if ($position == 'left') {
      .sb-tooltip__label {
        top: 50%;
        transform: translateY(-50%);
        right: 125%;
        
        &::after {
          top: 50%;
          transform: translateY(-50%) rotate(270deg);
          left: 100%;
        }
      }
    }

    @if ($position == 'right') {
      .sb-tooltip__label {
        top: 50%;
        transform: translateY(-50%);
        left: 125%;
        
        &::after {
          top: 50%;
          transform: translateY(-50%) rotate(90deg);
          right: 100%;
        }
      }
    }
  }
}

.sb-tooltip {
  display: none;
  padding: 0.6rem 2rem;
  color: $white;
  font-size: $font-size-sm;
  background-color: $color-primary-dark;
  border-radius: 2px;
  white-space: nowrap;
  z-index: 4;

  [data-show] {
    display: block;
  }
}
