@mixin tooltip($position) {
  &--#{$position} {
    @if  $position=='top' {
      .sb-tooltip__label {
        bottom: 125%;
        left: 50%;
        transform: translateX(-50%);

        &::after {
          left: 50%;
          top: 100%;
          margin-left: -5px;
        }
      }
    }

    @if  $position=='bottom' {
      .sb-tooltip__label {
        left: 50%;
        top: 125%;
        transform: translateX(-50%);

        &::after {
          bottom: 100%;
          left: 50%;
          margin-left: -5px;
          transform: rotate(180deg);
        }
      }
    }

    @if  $position=='left' {
      .sb-tooltip__label {
        right: 125%;
        top: 50%;
        transform: translateY(-50%);

        &::after {
          left: 100%;
          top: 50%;
          transform: translateY(-50%) rotate(270deg);
        }
      }
    }

    @if  $position=='right' {
      .sb-tooltip__label {
        left: 125%;
        top: 50%;
        transform: translateY(-50%);

        &::after {
          right: 100%;
          top: 50%;
          transform: translateY(-50%) rotate(90deg);
        }
      }
    }
  }
}

.sb-tooltip {
  display: none;
  box-sizing: border-box;
  max-width: 180px;
  padding: 6px 10px;
  font-size: $font-12;
  line-height: 15px;
  word-break: break-word;
  border-radius: 2px;
  box-shadow: 0 0 2px 1px rgb(0 0 0 / 8%);

  &--dark {
    color: $white;
    background-color: $dark-blue-950;
    border: 1px solid $dark-blue-950;

    [data-popper-arrow]::before {
      background: $dark-blue-950;
      border: 1px solid $dark-blue-950;
    }
  }

  &--light {
    color: $dark-blue-950;
    background-color: $white;
    border: 1px solid $gray-100;

    [data-popper-arrow]::before {
      background: $white;
      border: 1px solid $gray-100;
    }
  }

  &--text {
    &--initial {
      text-align: initial;
    }

    &--center {
      text-align: center;
    }

    &--end {
      text-align: end;
    }
  }

  [data-show] {
    display: block;
  }

  [data-popper-arrow] {
    text-align: left;
  }

  [data-popper-arrow],
  [data-popper-arrow]::before {
    position: absolute;
    z-index: -1;
    width: 6px;
    height: 6px;
  }

  [data-popper-arrow]::before {
    content: '';
    transform: rotate(45deg);
  }

  &[data-popper-placement^='top'] > [data-popper-arrow] {
    bottom: -3px;

    &::before {
      border-left: 0;
      border-top: 0;
      box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 8%);
    }
  }

  &[data-popper-placement^='bottom'] > [data-popper-arrow] {
    top: -4.5px;

    &::before {
      border-bottom: 0;
      border-right: 0;
      box-shadow: -1px -1px 2px 0 rgb(0 0 0 / 8%);
    }
  }

  &[data-popper-placement^='left'] > [data-popper-arrow] {
    right: -3px;
    top: -1px !important;

    &::before {
      border-bottom: 0;
      border-left: 0;
      box-shadow: 1px -1px 2px 0 rgb(0 0 0 / 8%);
    }
  }

  &[data-popper-placement^='right'] > [data-popper-arrow] {
    left: -4.5px;
    top: -1px !important;

    &::before {
      border-right: 0;
      border-top: 0;
      box-shadow: -1px 1px 2px 0 rgb(0 0 0 / 8%);
    }
  }
}
