$toggle-easing: cubic-bezier(0.33, 1, 0.68, 1);
$toggle-width: $s-7;
$toggle-height: $toggle-width * 0.6;
$toggle-circle: $toggle-width * 0.4;
$toggle-padding: 4px;

.sb-toggle {
  position: relative;
  width: $toggle-width;
  height: $toggle-height;
}

.sb-toggle--primary .sb-toggle__label {
  background-color: var(--sb-color-primary-1);
}

.sb-toggle--secondary .sb-toggle__label {
  background-color: var(--sb-color-bg-1);
}

.sb-toggle--ghost {
  .sb-toggle__label {
    background-color: transparent;
    border: 1px solid $light;
  }

  .sb-toggle__label::after {
    background-color: var(--sb-color-bg-1);
  }

  .sb-toggle__icon--active {
    color: var(--sb-color-text-4);
  }
}

.sb-toggle--danger .sb-toggle__label {
  background-color: $red;
}

.sb-toggle__native {
  @include screenReaderOnly;

  &:checked {
    + .sb-toggle__label {
      &::after {
        transform: translateX(100%);
      }
    }
  }

  &:focus,
  &:hover {
    &:not([disabled]) + .sb-toggle__label {
      box-shadow: 0 0 0 2px rgb(217 244 243 / 100%);
    }
  }

  &[disabled] + .sb-toggle__label {
    background: $light;
    cursor: not-allowed;
  }

  &:not(:checked) {
    + .sb-toggle__label {
      background: $light;
    }
  }
}

.sb-toggle__label {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  background: $light;
  border-radius: $toggle-height;
  cursor: pointer;
  transition: background-color 0.2s $toggle-easing 0.1s;

  &::after {
    content: '';
    position: absolute;
    left: $toggle-padding;
    top: $toggle-padding;
    z-index: 2;
    width: $toggle-circle;
    height: $toggle-circle;
    background-color: var(--sb-color-bg-4);
    border-radius: 100%;
    transition: transform 0.3s $toggle-easing;
  }

  &:active::after {
    width: $toggle-circle;
  }
}

.sb-toggle__icon {
  position: absolute;
  top: 50%;
  z-index: 0;
  width: 14px;
  height: 14px;
  padding: 0;
  pointer-events: none;
  transform: translateY(-50%);

  &--active {
    left: $s-1;
    color: $white;
  }

  &--inactive {
    right: $s-1;
    color: $light-gray;
  }
}
