.sb-numberfield {
  width: 100%;

  &__label {
    display: block;
    margin-bottom: 10px;
    color: $sb-dark-blue;
    font-size: $font-14;
    font-weight: $font-weight-medium;
    letter-spacing: 0;
  }

  &__inner {
    position: relative;
    display: flex;
  }

  &__arrow {
    &--increase,
    &--decrease {
      position: absolute;
      right: 1px;
      top: 1px;
      z-index: 1;
      width: 31px;
      height: 23.5px;
      padding: 0;
      font-size: 13px;
      text-align: center;
      background: $light-25;
      border: 0;
      border-left: 1px solid #dcdfe6;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    &--increase {
      bottom: initial;
      top: 1px;
      border-radius: 0 5px 0 0;
    }

    &--decrease {
      bottom: 1px;
      top: initial;
      border-radius: 0 0 5px;
      border-top: 0.5px solid #dcdfe6;
    }

    &--disabled {
      cursor: default;
      opacity: 0.5;
    }
  }

  &__input {
    width: 100%;
    padding: 15px 17px;
    color: $sb-dark-blue;
    font-size: $font-14;
    border-radius: 5px;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      appearance: none;
    }

    &:disabled {
      background: $light-25;
      border: 1px solid $light !important;
      cursor: not-allowed;
    }

    &::placeholder {
      color: $sb-dark-blue-50;
      font-size: $font-14;
      font-weight: normal;
      letter-spacing: 0;
    }

    &--default {
      border: 1px solid $light;

      &:hover {
        border-color: $sb-green;
      }

      &:focus {
        border-radius: 5px;
        border-color: $sb-green;
        box-shadow: 0 0 0 3px $sb-green-25;
        outline: none;
      }
    }

    &--error {
      border: 1px solid $red;

      &:focus {
        box-shadow: 0 0 0 3px rgb(255, 179, 176, 0.3);
        outline: none;
      }
    }
  }

  &__message {
    display: block;
    margin-top: 5px;
    font-size: $font-14;
    font-weight: normal;
    letter-spacing: 0;

    &--error {
      color: $sb-dark-blue-50;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

@supports (-webkit-appearance:none) and (stroke-color:transparent) {
  .sb-numberfield__arrow--increase {
    top: 3px;
  }

  .sb-numberfield__arrow--decrease {
    bottom: 3px;
  }
}
