.sb-numberfield {
  width: 100%;

  &__label {
    color: $sb-dark-blue;
    display: block;
    font-size: $text-medium-small;
    font-weight: $font-weight-medium;
    letter-spacing: 0;
    margin-bottom: 10px;
  }

  &__inner {
    display: flex;
    position: relative;
  }

  &__arrow {
    &--increase,
    &--decrease {
      background: $light-25;
      border: 0;
      border-left: 1px solid #dcdfe6;
      color: #606266;
      cursor: pointer;
      font-size: 13px;
      height: 23.5px;
      padding: 0;
      position: absolute;
      right: 1px;
      text-align: center;
      top: 1px;
      width: 31px;
      z-index: 1;

      &:focus {
        outline: none;
      }
    }

    &--increase {
      border-bottom: 0.5px solid #dcdfe6;
      border-radius: 0 5px 0 0;
    }

    &--decrease {
      border-radius: 0 0 5px;
      border-top: 0.5px solid #dcdfe6;
      bottom: 1px;
      top: auto;
    }

    &--disabled {
      cursor: default;
      opacity: 0.5;
    }
  }

  &__input {
    appearance: textfield;
    border-radius: 5px;
    color: $sb-dark-blue;
    font-size: $text-medium-small;
    padding: 15px 17px;
    width: 100%;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }

    &:disabled {
      background: $light-25;
      border: 1px solid $light !important;
      cursor: not-allowed;
    }

    &::placeholder {
      color: $sb-dark-blue-50;
      font-size: $text-medium-small;
      font-weight: normal;
      letter-spacing: 0;
    }

    &--default {
      border: 1px solid $light;

      &:hover {
        border-color: $sb-green;
      }

      &:focus {
        border-color: $sb-green;
        border-radius: 5px;
        box-shadow: 0 0 0 3px $sb-green-25;
        outline: none;
      }
    }

    &--error {
      border: 1px solid $red;

      &:focus {
        box-shadow: 0 0 0 3px rgb(255, 179, 176, 0.3);
        outline: none;
      }
    }
  }

  &__message {
    display: block;
    font-size: $text-medium-small;
    font-weight: normal;
    letter-spacing: 0;
    margin-top: 5px;

    &--error {
      color: $sb-dark-blue-50;
    }
  }
}
