@import './css/theme-dark';
@import './css/theme-light';

// Color pallete
// teal
$sb-green: var(--sb-color-primary-1);
$sb-green-100: var(--sb-color-primary-2);
$sb-green-75: var(--sb-color-primary-3);
$sb-green-50: var(--sb-color-primary-4);
$sb-green-25: var(--sb-color-primary-5);
$sb-green-20: var(--sb-color-primary-6);

// Ink
$sb-dark-blue: var(--sb-color-secondary-1);
$sb-dark-blue-75: var(--sb-color-secondary-2);
$sb-dark-blue-50: var(--sb-color-secondary-3);
$sb-dark-blue-25: var(--sb-color-secondary-4);

// green
$green: var(--sb-color-success-1);
$green-75: var(--sb-color-success-2);
$green-50:  var(--sb-color-success-3);
$green-25: var(--sb-color-success-3);
$green-20: var(--sb-color-success-4);
$green-disabled: var(--sb-color-success-5);

// yellow
$yellow: var(--sb-color-caution-1);
$yellow-75: var(--sb-color-caution-2);
$yellow-50: var(--sb-color-caution-3);
$yellow-25: var(--sb-color-caution-4);
$yellow-20: var(--sb-color-caution-5);

// blue
$blue: var(--sb-color-info-1);
$blue-75: var(--sb-color-info-2);
$blue-50: var(--sb-color-info-3);
$blue-25: var(--sb-color-info-4);
$blue-20: var(--sb-color-info-5);

// orange
$orange: var(--sb-color-warning-1);
$orange-75: var(--sb-color-warning-2);
$orange-50: var(--sb-color-warning-3);
$orange-25: var(--sb-color-warning-4);
$orange-20: var(--sb-color-warning-5);

// red
$red: var(--sb-color-error-1);
$red-75: var(--sb-color-error-2);
$red-50: var(--sb-color-error-3);
$red-25: var(--sb-color-error-4);
$red-20: var(--sb-color-error-5);

// light
$light: var(--sb-color-grey-1);
$light-75: var(--sb-color-grey-2);
$light-50: var(--sb-color-grey-3);
$light-25: var(--sb-color-grey-4);
$light-gray: var(--sb-color-grey-5);
$neutral-gray: var(--sb-color-grey-6);

// general
$black: #101525;
$white: var(--sb-color-bg-4);
$black-trasparent: rgba($sb-dark-blue, 0.2);
$blue-grey: rgb(65, 84, 103);

// Colors
$color-primary: var(--sb-color-primary-1);
$color-primary-dark: var(--sb-color-secondary-1);
$color-secondary: var(--sb-color-secondary-1);
$color-positive:  var(--sb-color-success-1);
$color-negative: var(--sb-color-error-1);
$color-warning: var(--sb-color-warning-1);
$color-white: var(--sb-color-bg-4);
$primary-text-color: var(--sb-color-text-1);
$colors: (
  'primary': $color-primary,
  'primary-dark': $color-primary-dark,
  'secondary': $color-secondary,
  'positive': $color-positive,
  'negative': $color-negative,
  'warning': $color-warning,
  'white': $color-white,
  'teal': $sb-green,
  'ink': $sb-dark-blue,
  'green': $green,
  'yellow': $yellow,
  'blue': $blue,
  'orange': $orange,
  'red': $red,
  'light': $light,
  'light-gray': $light-gray,
);
