
// teal
$teal-50: #f7fdfc;
$teal-100: #d4f7f3;
$teal-200: #a4efe5;
$teal-300: #6fdcd3;
$teal-400: #45bfb9;
$teal-500: #24aea9;
$teal-600: #00b3b0; // basis color
$teal-700: #057f7f;
$teal-800: #0a6566;
$teal-900: #0d5454;
$teal-950: #003033;

// dark blue
$dark-blue-50: #f6f6f9;
$dark-blue-100: #eeeef2;
$dark-blue-200: #d7d7e0;
$dark-blue-300: #b4b8c5;
$dark-blue-400: #8b91a7;
$dark-blue-500: #6a728a;
$dark-blue-600: #535b6e;
$dark-blue-700: #32467b;
$dark-blue-800: #2b4169;
$dark-blue-900: #28395d;
$dark-blue-950: #1b243f; // basis color

// green
$green-50: #eefbf4;
$green-100: #d7f4e3;
$green-200: #b2e8cb;
$green-300: #7fd6ac;
$green-400: #4bbc8a;
$green-500: #2db47d; // basis color
$green-600: #1a8159;
$green-700: #15674a;
$green-800: #13523b;
$green-900: #104432;
$green-950: #08261d;

// yellow
$yellow-50: #fffbeb;
$yellow-100: #fef3c7;
$yellow-200: #fde58a;
$yellow-300: #fbce41; // basis color
$yellow-400: #fabd25;
$yellow-500: #f49c0c;
$yellow-600: #d87507;
$yellow-700: #b3520a;
$yellow-800: #913f0f;
$yellow-900: #78340f;
$yellow-950: #451903;

// blue
$blue-50: #f1f5fd;
$blue-100: #e0e9f9;
$blue-200: #c8d9f5;
$blue-300: #a2c1ee;
$blue-400: #75a0e5;
$blue-500: #557fdc;
$blue-600: #395ece; // basis color
$blue-700: #3751be;
$blue-800: #32449b;
$blue-900: #2d3c7b;
$blue-950: #1f274c;

// red
$red-50: #fff2f1;
$red-100: #ffe2e1;
$red-200: #ffcac7;
$red-300: #ffa5a0;
$red-400: #ff6159; // basis color
$red-500: #f8443b;
$red-600: #e5271d;
$red-700: #c11c14;
$red-800: #a01b14;
$red-900: #841d18;
$red-950: #480a07;

// gray
$gray-50: #f6f7f8;
$gray-100: #ebecee;
$gray-200: #dbdde2;
$gray-300: #c3c7cd;
$gray-400: #b1b5be; // basis color
$gray-500: #8f93a2;
$gray-600: #7e8192;
$gray-700: #717384;
$gray-800: #5f616e;
$gray-900: #4f5059;
$gray-950: #333338;

// general
$black: #101525;
$white: #fff;
$black-trasparent: rgba($dark-blue-950, 0.2);


// text
$text-primary: $dark-blue-950;

// colors for helper classes
$colors: (
  'primary': $teal-600,
  'primary-dark': $dark-blue-950,
  'secondary': $green-500,
  'positive': $green-500,
  'negative': $red-400,
  'warning': $yellow-300,
  'white': $white,
  'teal': $teal-600,
  'ink': $dark-blue-950,
  'green': $green-500,
  'yellow': $yellow-300,
  'blue': $blue-500,
  'orange': $yellow-500,
  'red': $red-400,
  'light': $gray-50,
  'light-gray': $gray-400,
);
