:root {
  --sb-color-teal-50: #f7fdfc;
  --sb-color-teal-100: #d4f7f3;
  --sb-color-teal-200: #a4efe5;
  --sb-color-teal-300: #6fdcd3;
  --sb-color-teal-400: #45bfb9;
  --sb-color-teal-500: #24aea9;
  --sb-color-teal-600: #00b3b0;
  --sb-color-teal-700: #057f7f;
  --sb-color-teal-800: #0a6566;
  --sb-color-teal-900: #0d5454;
  --sb-color-teal-950: #003033;
  --sb-color-teal: var(--sb-color-teal-600);
  --sb-color-dark-blue-50: #f6f6f9;
  --sb-color-dark-blue-100: #eeeef2;
  --sb-color-dark-blue-200: #d7d7e0;
  --sb-color-dark-blue-300: #b4b8c5;
  --sb-color-dark-blue-400: #8b91a7;
  --sb-color-dark-blue-500: #6a728a;
  --sb-color-dark-blue-600: #545b6f;
  --sb-color-dark-blue-700: #32467b;
  --sb-color-dark-blue-800: #2b4169;
  --sb-color-dark-blue-900: #262e48;
  --sb-color-dark-blue-950: #1b243f;
  --sb-color-dark-blue: var(--sb-color-dark-blue-950);
  --sb-color-green-50: #eefbf4;
  --sb-color-green-100: #d7f4e3;
  --sb-color-green-200: #b2e8cb;
  --sb-color-green-300: #7fd6ac;
  --sb-color-green-400: #4bbc8a;
  --sb-color-green-500: #2db47d;
  --sb-color-green-600: #1a8159;
  --sb-color-green-700: #15674a;
  --sb-color-green-800: #13523b;
  --sb-color-green-900: #104432;
  --sb-color-green-950: #08261d;
  --sb-color-green: var(--sb-color-green-500);
  --sb-color-yellow-50: #fff4d5;
  --sb-color-yellow-100: #ffe6aa;
  --sb-color-yellow-200: #ffd86a;
  --sb-color-yellow-300: #fbcd41;
  --sb-color-yellow-400: #fbc823;
  --sb-color-yellow-500: #f4b20b;
  --sb-color-yellow-600: #da9707;
  --sb-color-yellow-700: #b2750a;
  --sb-color-yellow-800: #8f5e0f;
  --sb-color-yellow-900: #76520f;
  --sb-color-yellow-950: #453003;
  --sb-color-yellow: var(--sb-color-yellow-300);
  --sb-color-blue-50: #f1f5fd;
  --sb-color-blue-100: #e0e9f9;
  --sb-color-blue-200: #c8d9f5;
  --sb-color-blue-300: #a2c1ee;
  --sb-color-blue-400: #75a0e5;
  --sb-color-blue-500: #557fdc;
  --sb-color-blue-600: #395ece;
  --sb-color-blue-700: #3751be;
  --sb-color-blue-800: #32449b;
  --sb-color-blue-900: #2d3c7b;
  --sb-color-blue-950: #1f274c;
  --sb-color-blue: var(--sb-color-blue-500);
  --sb-color-red-50: #fff2f1;
  --sb-color-red-100: #ffe2e1;
  --sb-color-red-200: #ffcac7;
  --sb-color-red-300: #ffa5a0;
  --sb-color-red-400: #ff6159;
  --sb-color-red-500: #f8443b;
  --sb-color-red-600: #e5271d;
  --sb-color-red-700: #c11c14;
  --sb-color-red-800: #a01b14;
  --sb-color-red-900: #841d18;
  --sb-color-red-950: #480a07;
  --sb-color-red: var(--sb-color-red-400);
  --sb-color-gray-50: #f6f7f8;
  --sb-color-gray-100: #ebecee;
  --sb-color-gray-200: #dbdde2;
  --sb-color-gray-300: #c3c7cd;
  --sb-color-gray-400: #b1b5be;
  --sb-color-gray-500: #8f93a2;
  --sb-color-gray-600: #7e8192;
  --sb-color-gray-700: #717384;
  --sb-color-gray-800: #5f616e;
  --sb-color-gray-900: #4f5059;
  --sb-color-gray-950: #333338;
  --sb-color-gray: var(--sb-color-gray-400);
  --sb-color-black: #101525;
  --sb-color-white: #fff;
  --sb-color-text-yellow: var(--sb-color-yellow-500);
  --sb-color-text-yellow-hover: var(--sb-color-yellow-300);
  --sb-color-text-white: var(--sb-color-white);
  --sb-color-text-teal: var(--sb-color-teal-600);
  --sb-color-text-red: var(--sb-color-red-400);
  --sb-color-text-green: var(--sb-color-green-500);
  --sb-color-text-gray-light: var(--sb-color-gray-400);
  --sb-color-text-gray: var(--sb-color-dark-blue-500);
  --sb-color-text-dark-blue: var(--sb-color-dark-blue-950);
  --sb-color-text-blue: var(--sb-color-blue-600);
  --sb-color-bg-yellow: var(--sb-color-yellow-500);
  --sb-color-bg-yellow-hover: var(--sb-color-yellow-600);
  --sb-color-bg-yellow-light: var(--sb-color-yellow-50);
  --sb-color-bg-white: var(--sb-color-white);
  --sb-color-bg-teal: var(--sb-color-teal-600);
  --sb-color-bg-teal-hover: var(--sb-color-teal-700);
  --sb-color-bg-teal-light: var(--sb-color-teal-100);
  --sb-color-bg-red: var(--sb-color-red-400);
  --sb-color-bg-red-hover: var(--sb-color-red-600);
  --sb-color-bg-red-light: var(--sb-color-red-100);
  --sb-color-bg-green: var(--sb-color-green-500);
  --sb-color-bg-green-light: var(--sb-color-green-100);
  --sb-color-bg-gray: var(--sb-color-gray-400);
  --sb-color-bg-gray-50: var(--sb-color-gray-50);
  --sb-color-bg-gray-100: var(--sb-color-gray-100);
  --sb-color-bg-dark-blue: var(--sb-color-dark-blue-950);
  --sb-color-bg-dark-blue-hover: var(--sb-color-dark-blue-900);
  --sb-color-bg-blue: var(--sb-color-blue-600);
  --sb-color-bg-blue-hover: var(--sb-color-blue-400);
  --sb-color-bg-blue-light: var(--sb-color-blue-100);
  --sb-color-bg-dark-blue-transparent: #1b243f33;
  --sb-color-border-teal: var(--sb-color-teal-600);
  --sb-color-border-teal-focus: var(--sb-color-teal-300);
  --sb-color-border-dark-blue: var(--sb-color-dark-blue-950);
  --sb-color-border-dark-blue-focus: var(--sb-color-dark-blue-400);
  --sb-color-border-blue: var(--sb-color-blue-300);
  --sb-color-border-yellow: var(--sb-color-yellow-300);
  --sb-color-border-red: var(--sb-color-red-400);
  --sb-color-border-gray-light: var(--sb-color-gray-200);
  --sb-color-border-white: var(--sb-color-white);
  --sb-color-shadow-teal: var(--sb-color-teal-600);
  --sb-color-shadow-teal-100: var(--sb-color-teal-100);
  --sb-color-shadow-green-100: var(--sb-color-green-100);
  --sb-color-shadow-gray-100: var(--sb-color-gray-100);
}
