// Icon Sizes
$icon-small-size: 1.6rem;
$icon-default-size: 2.4rem;
$icon-large-size: 3.2rem;
$icon-extra-large-size: 4.8rem;

// Avatar variables
$sb-avatar-small: 26px;
$sb-avatar-normal: 32px;
$sb-avatar-large: 46px;

// margin variables
$small-size: 8px;
$medium-size: 16px;
$large-size: 32px;
$x-large-size: 48px;
