// Typography
$primary-font-family: 'Roboto', sans-serif;
$font-size-default: 1.6rem;
$line-height-default: 1;

// text sizes
$font-10: 1rem;
$font-12: 1.2rem;
$font-13: 1.3rem;
$font-14: 1.4rem;
$font-16: 1.6rem;
$font-18: 1.8rem;
$font-20: 2rem;
$font-24: 2.4rem;
$font-26: 2.6rem;
$font-32: 3.2rem;

// Font weight
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// ----- Global Helper Classes -----
// -- Font size helper classes
// E.g. .font-10, font-12, ..
$font-size: (
  '10': $font-10,
  '12': $font-12,
  '13': $font-13,
  '14': $font-14,
  '16': $font-16,
  '18': $font-18,
  '20': $font-20,
  '24': $font-24,
  '26': $font-26,
  '32': $font-32,
);


// -- Font weight helper classes
// E.g. .font-thin, .font-light, ..
$font-weight: (
  'light':    $font-light,
  'regular':  $font-regular,
  'medium':   $font-medium,
  'bold':     $font-bold,
);


// WILL BE REMOVED SOON
$heading-2xl: 3.2rem; // will be removed, use font-32
$heading-xl: 2.6rem; // will be removed, use font-26
$heading-lg: 2rem; // will be removed, use $font-20
$heading-md: 1.8rem; // will be removed, use $font-18
$heading-base: 1.4rem; // will be removed, use font-14
$heading-s: 1.2rem; // will be removed, use font-12
$heading-xs: 1rem; // will be removed, use font-10
$font-15: 1.4rem; // will be removed, use font-14
$font-19: 1.8rem; // will be removed use font-18
$font-21: 2rem; // will be removed, use font-20
$font-25: 2.4rem; // will be removed, use font-24
$font-36: 3.2rem; // will be removed, use font-32
$font-weight-thin: 300; // use font-light
$font-weight-light: 300; // use font-light
$font-weight-regular: 400; // use font-regular
$font-weight-medium: 500; // use font-medium
$font-weight-bold: 700; // use font-bold
