@import './resets';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap';

html {
  font-family: $primary-font-family;
  font-size: 62.5%;
}

body {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: $line-height-default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizelegibility;
}

@each $name, $pair in $colors {
  .bg-#{$name} {
    background-color: $pair !important;
  }

  .text-#{$name} {
    color: $pair !important;
  }
}

/*
  Typography
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: $text-dark-blue;
  font-weight: $font-medium;
  letter-spacing: 0;
}

input,
textarea,
select,
button {
  font-family: $primary-font-family;
}

// scrollbar

// for firefox
.transparent-scroll {
  scrollbar-color: #c1c1c1 transparent;

  &:hover,
  &:focus {
    scrollbar-color: #7d7d7d transparent;
  }
}

// for other browsers
.transparent-scroll::-webkit-scrollbar {
  width: 15px;
}

.transparent-scroll::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: $bg-gray;
  border-radius: 6px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;

  &:hover,
  &:focus {
    background-color: $bg-gray;
  }
}

.transparent-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}
