@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  box-sizing: border-box;
  font-family: $primary-font-family;
  margin: 0;
  padding: 0;
}

@each $name, $pair in $colors {
  .bg-#{$name} {
    background-color: $pair;
  }

  .text-#{$name} {
    color: $pair;
  }
}
