@mixin avatarComponent {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  border-radius: 100%;
}

@mixin avatarComponentSize ($size) {
  width: $size;
  height: $size;
}

@mixin generalBoxShadow () {
  background-color: $white;
  border: 1px solid $light;
  border-radius: 4px;
  box-shadow: 0px 2px 17px 3px rgba(34, 42, 69, 0.07);
  z-index: 99999;
}

// creates a box-shadow and a border for general suspense menu components
@mixin popoverComponent {
  box-shadow: 0px 2px 17px 3px rgba(34, 42, 69, 0.07);
  border: 1px solid $light;
  border-radius: 4px;
}
