@mixin avatarComponent {
  align-items: center;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
}

@mixin avatarComponentSize ($size) {
  height: $size;
  width: $size;
}

@mixin generalBoxShadow () {
  background-color: $white;
  border: 1px solid $light;
  border-radius: 4px;
  box-shadow: $box-shadow-default;
  z-index: 99999;
}

@mixin middleXY {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// creates a box-shadow and a border for general suspense menu components
@mixin popoverComponent {
  border: 1px solid $light;
  border-radius: 4px;
  box-shadow: $box-shadow-default;
  overflow: hidden;
}

// the following are the recommended styles for visually hiding content that will be read by a screen reader
@mixin screenReaderOnly {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

// centers all of the child elements using flex approach
@mixin flexCentering {
  align-items: center;
  display: flex;
  justify-content: center;
}

// reset all styles to a button to use it with icons, for example
@mixin resetButtonStyle {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

@mixin base--icon-hover {
  border-radius: $base-border-radius;
  padding: 6px;
  transition: $base-transition;

  &:hover {
    background-color: $light-50;

    .sb-icon {
      color: $sb-dark-blue;
    }
  }
}

// showing responsive rows like fav projects assets

@mixin rowMachine($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);

  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
  }
}

@mixin selectedItem {
  color: $sb-green;
  font-weight: $font-weight-medium;
}
