// Color pallete

// teal
$sb-green: #00b3b0;
$sb-green-100: #40bebb;
$sb-green-75: #40c6c4;
$sb-green-50: #7fd9d7;
$sb-green-25: #d9f4f3;

// Ink
$sb-dark-blue: #1b243f;
$sb-dark-blue-75: #545b6f;
$sb-dark-blue-50: #8d919f;
$sb-dark-blue-25: #c6c8cf;

// green
$green: #2db47d;
$green-75: #62c79e;
$green-50: #96d9be;
$green-25: #caecde;
$green-disabled: #004e4c;
// yellow
$yellow: #fbce41;
$yellow-75: #fcdb71;
$yellow-50: #fde6a0;
$yellow-25: #fef3cf;

// blue
$blue: #395ece;
$blue-75: #6b87db;
$blue-50: #9caee6;
$blue-25: #cdd7f3;

// orange
$orange: #ffac00;
$orange-75: #ffc140;
$orange-50: #ffd57f;
$orange-25: #ffeabf;

// red
$red: #ff6159;
$red-75: #ff8983;
$red-50: #ffb0ac;
$red-25: #ffd7d5;

// light
$light: #dfe3e8;
$light-75: #e7eaee;
$light-50: #eff1f3;
$light-25: #f7f8f9;
$light-gray: #b1b5be;

$black: #101525;
$white: #fff;
$black-trasparent: rgba($sb-dark-blue, 0.2);
$blue-grey: #415467;
// ----

// Typography
$primary-font-family: 'Roboto', sans-serif;
$primary-text-color: $sb-dark-blue;
$font-size-default: 1.6rem;
$line-height-default: 1;

// heading sizes
$heading-2xl: 3.2rem;
$heading-xl: 2.6rem;
$heading-lg: 2rem;
$heading-md: 1.8rem;
$heading-base: 1.4rem;
$heading-s: 1.2rem;
$heading-xs: 1rem;

// text sizes
$font-12: 1.2rem;
$font-13: 1.3rem;
$font-14: 1.4rem;
$font-15: 1.5rem;
$font-16: 1.6rem;
$font-19: 1.9rem;
$font-21: 2.1rem;
$font-25: 2.5rem;
$font-36: 3.6rem;

// Font weight
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// TODO: Will be removed in JAN 2022 - Legacy variables
$text-header: 2.5rem;
$text-medium-header: 2rem;
$text-subheader: 1.8rem;
$text-medium: 1.5rem;
$text-medium-small: 1.4rem;
$text-small: 1.3rem;
$font-size-xs: 1.2rem;
$font-size-sm: 1.3rem;
$font-size-md: 1.4rem;
$font-size-lg: 1.6rem;
$font-size-xg: 1.9rem;

// Icon Sizes
$icon-small-size: 1.6rem;
$icon-default-size: 2.4rem;
$icon-large-size: 3.2rem;
$icon-extra-large-size: 4.8rem;

// Global Variables

// Colors
$color-primary: $sb-green;
$color-primary-dark: $sb-dark-blue;
$color-secondary: $green;
$color-positive: $green;
$color-negative: $red;
$color-warning: $orange;
$color-white: $white;

$colors: (
  'primary':                                     $color-primary,
  'primary-dark':                                $color-primary-dark,
  'secondary':                                   $color-secondary,
  'positive':                                    $color-positive,
  'negative':                                    $color-negative,
  'warning':                                     $color-warning,
  'white':                                       $color-white,
  'teal':                                        $sb-green,
  'ink':                                         $sb-dark-blue,
  'green':                                       $green,
  'yellow':                                      $yellow,
  'blue':                                        $blue,
  'orange':                                      $orange,
  'red':                                         $red,
  'light':                                       $light,
  'light-gray':                                  $light-gray
);

// Font size
$font-size: (
  'xs':                                          $font-12,
  'sm':                                          $font-13,
  'md':                                          $font-14,
  'lg':                                          $font-16,
);

// Font weight
$font-weight: (
  'thin':                                        $font-weight-thin,
  'light':                                       $font-weight-light,
  'regular':                                     $font-weight-regular,
  'medium':                                      $font-weight-medium,
  'bold':                                        $font-weight-bold,
);

// Avatar variables
$sb-avatar-small: 26px;
$sb-avatar-normal: 32px;
$sb-avatar-large: 46px;

//Datepicker variables
$light-border: 1px solid $light;

//Box-shadow
$box-shadow-default: 0 2px 17px 3px rgba(34, 42, 69, 0.07);

//Transition
$base-transition: all 0.1s ease-in-out;

//Border radius
$base-border-radius: 5px;

// margin variables
$small-size: 8px;
$medium-size: 16px;
$large-size: 32px;
$x-large-size: 48px;
