// Color pallete

// primary
$sb-green: #00B3B0;
$sb-green-hover: #00a4a1;
$sb-dark-blue: #1B243F;

// secondary
$green: #2DB47D;
$blue: #395ECE;
$yellow: #FBCE41;
$orange: #FFAC00;
$red: #FF6159;

// neutrals
$dark-light: #B1B5BE;
$light: #DFE3E8;
$lighter: #F4F6F8;
$icon-color: #B1B5BE;
$background-dark: #DDDDDD;
$background-light: #E7E7E7;
$background-lighet: #F5F5F5;
$white: #FFF;

// ----

// Typography
$primary-font-family: 'Roboto';
$primary-text-color: #1B243F;

// Global Variables

// Colors
$color-primary: $sb-green;
$color-primary-dark: $sb-dark-blue;
$color-secondary: $green;
$color-positive: $green;
$color-negative: $red;
$color-warning: $orange;

$colors: (
  'primary': $color-primary,
  'primary-dark': $color-primary-dark,
  'secondary': $color-secondary,
  'positive': $color-positive,
  'negative': $color-negative,
  'warning': $color-warning
);

// Avatar variables
$sb-avatar-small: 26px;
$sb-avatar-normal: 32px;
$sb-avatar-large: 46px;
