.sb-accordion {
  position: relative;
  width: 100%;
  color: $text-dark-blue;
  background: $bg-white;

  &:last-child {
    border-bottom: 1px solid $gray-100;
  }

  &:first-child .sb-accordion__button {
    border-top-width: 0;
  }
}

.sb-accordion__title {
  flex: 1;
  overflow: hidden;
  max-width: 80%;
  margin-left: 2px;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sb-accordion--open {
  &:hover,
  &:focus {
    background: $bg-gray-50;
  }

  &:hover .sb-accordion__button,
  &:focus .sb-accordion__button {
    color: $text-dark-blue;
    background: $bg-gray-50;
  }

  .sb-accordion__button {
    border-bottom-color: transparent;
  }
}

.sb-accordion__content-info {
  flex: 0 0 auto;
  margin-inline: auto 0;
}

.sb-accordion__content {
  box-sizing: border-box;
  width: 100%;
  padding: $s-2 $s-4 $s-4 $s-6;
  will-change: height;
}

.sb-accordion__button {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  max-height: $s-8;
  margin: 0;
  padding: 7px 6px;
  font-size: $font-14;
  font-weight: $font-medium;
  text-align: left;
  background: $bg-white;
  border: 0;
  border-top: 1px solid $gray-100;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $text-teal;
  }

  .sb-icon {
    flex-shrink: 0;
  }
}

.sb-accordion__icon {
  display: none;
  margin-left: auto;
}

.sb-accordion:hover .sb-accordion__icon,
.sb-accordion:focus .sb-accordion__icon {
  display: block;
}

.sb-accordion--no-highlight {
  &.sb-accordion--open {
    background: transparent;

    &:hover .sb-accordion__button,
    &:focus .sb-accordion__button {
      color: $text-dark-blue;
      background: transparent;
    }
  }
}

.sb-accordion--no-padding {
  .sb-accordion__content {
    padding-left: $s-2;
    padding-right: 0;
  }
}

.sb-accordion--no-border {
  border-color: transparent;

  .sb-accordion__button,
  &:last-child {
    border-color: transparent;
  }
}
