.sb-data-table {
  &__col-selection,
  &__head-cell {
    .sb-checkbox__inner:hover,
    .sb-checkbox__inner:focus {
      .sb-checkbox__input {
        box-shadow: 0 0 0 2px rgba(217, 244, 243, 1);
      }
    }
  }

  &__col-locked svg {
    margin-left: -4px;
  }

  &__loading {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__container {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  &__head-cell,
  &__body-cell {
    box-sizing: border-box;
    padding: 14px 10px;
    color: $sb-dark-blue-50;
    font-size: $font-14;
    font-weight: normal;
    line-height: 1.3;
    text-align: left;

    a {
      color: inherit;
      text-decoration: none;
    }

    &--centered {
      text-align: center;
    }
  }

  &__head-cell {
    &--sortable {
      white-space: nowrap;
      cursor: pointer;
    }

    &:hover,
    &:focus {
      .sb-data-table__sort-icon {
        opacity: 1;
      }
    }
  }

  &--loading {
    position: relative;

    .sb-loading {
      position: absolute;

      @include middleXY();
    }

    .sb-data-table__body-cell {
      position: relative;
      text-indent: -999em;

      &::before {
        content: '';
        position: absolute;
        left: 10px;
        top: 50%;
        width: 64px;
        height: 10px;
        max-width: calc(100% - 20px);
        background-color: $light-50;
        transform: translateY(-50%);
      }

      * {
        opacity: 0;
      }
    }

    .sb-data-table__col-selection::before,
    .sb-input-checkbox {
      opacity: 0;
    }
  }

  &__row {
    border-bottom: 1px solid $light-50;

    &:hover,
    &:focus {
      background-color: #f9f9f9 !important;
    }

    &:last-child {
      border-bottom: 1px solid $white;
    }

    &:nth-child(even) {
      .sb-data-table--striped & {
        background-color: $light-25;
      }
    }

    &--selected {
      background-color: #f9f9f9;
      border-bottom: 1px solid $light;

      &:hover,
      &:focus {
        background-color: $light-75 !important;
      }
    }
  }

  &__col-main {
    color: $sb-dark-blue;
    font-weight: $font-weight-medium;
  }

  &__sort-icon {
    opacity: 0;

    .sb-data-table--show-icon & {
      opacity: 1;
    }
  }

  &__header-template {
    display: inline;
  }
}

.sb-actions-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  padding: 0 20px;
  color: $white;
  background-color: $sb-dark-blue;
  border-radius: 5px;

  &__rows-selected {
    margin-left: 0;
    color: $white;
    font-family: $primary-font-family;
    font-size: 14px;
  }

  &__btn:focus {
    outline: 0;
  }

  &__btn {
    margin-left: 10px;
  }

  &__btn-cancel {
    margin-right: auto;
  }

  &--sticky {
    position: sticky;
    top: 10px;
    z-index: 1;
  }
}

.sb-data-table__body-cell-label {
  display: none;
}

@include mq($until: sm) {
  .sb-data-table {
    max-width: 100%;
  }

  .sb-data-table__body-cell-label {
    display: inline-flex;
    padding-right: $small-size;
  }

  .sb-data-table thead {
    display: none;
  }

  .sb-data-table__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 6px 0;

    td {
      width: auto;
    }
  }

  .sb-data-table__body-cell {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    padding: 8px;
  }

  .sb-data-table--loading .sb-data-table__body-cell {
    flex-grow: 1;
  }
}
