.sb-link {
  position: relative;
  display: inline-flex;
  align-items: center;
 color: $text-teal;
  font-size: 1em;
  font-weight: $font-medium;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: $bg-teal;
    opacity: 0;
  }

  &:hover:not([disabled])::after,
  &:focus:not([disabled])::after {
    opacity: 1;
  }

  // color variants
  &--white {
   color: $text-white;

    &::after {
      background: $bg-white;
    }

    &:hover:not([disabled])::after,
    &:focus:not([disabled])::after {
      opacity: 1;
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &--has-icon {
    .sb-icon {
      margin-right: 3px;
    }
  }

  &--has-icon-right {
    .sb-icon {
      margin-left: 3px;
    }
  }

  &:active,
  &:focus {
    border-bottom-style: dashed;
  }
}
