name: 'Tests'

# Event for the workflow
# Only trigger the current job when occurs
# a pull request target from develop and master branchs
# and a push to develop and master branches
on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: lts/*
    - run: yarn
    - run: yarn test:unit --verbose
